<%= form_for @volunteer, :url => {:action => @action } do |f| %>
<table>
<tr><td>Name<td><%= f.text_field(:name) %>
<tr><td>Photo<td><%= f.file_field(:photo) %>
<tr><td>Phone<td><%= f.text_field(:phone) %> with <%= f.select(:cell_carrier_id,CellCarrier.all.collect{ |cc| [cc.name,cc.id] },{:include_blank => true}) %>
<tr><td>Email<td><%= f.text_field(:email) %>
<tr><td>Preferred Contact<td><%= f.select(:preferred_contact,[["Email","Email"],["Phone","Phone"],["Text","Text"]],{:include_blank => true}) %>
<tr><td>Receive From Robot<td><%= f.check_box(:sms_too) %> Text Messages <%= f.check_box(:pre_reminders_too) %> Pre-Pickup-Reminders
<tr><td>On Email List<br><td><%= f.check_box(:on_email_list) %>
<tr><td>Transport<td><%= f.select(:transport_type_id, TransportType.all.collect{ |tt| [tt.name,tt.id] },{:include_blank => true}) %>
<tr><td>Has Car<td><%= f.check_box(:has_car) %>
<tr><td>Pickup Preferences<td><%= f.text_area(:pickup_prefs, :size => "30x6") %>
<tr><td>Vacation Until<td><%= f.date_select(:gone_until,{:include_blank => true}) %>
<% if current_volunteer.any_admin? %>
<tr><td>Admin Notes<td><%= f.text_area(:admin_notes, :size => "30x6") %>
<%= hidden_field_tag "volunteer[region_ids][]","" %>
<tr><td>Region(s)<td><% @my_admin_regions.each{ |r| %>
  <%= check_box_tag "volunteer[region_ids][]", r.id, @volunteer.regions.include?(r) %> <%= r.name %>
<% } %>
<tr><td>Account Disabled<td><%= f.check_box(:is_disabled) %>
<% end %>
</table>
<%= submit_tag %>
<% end %>
