<%= form_for @volunteer, :url => {:action => @action } do |f| %>

  <table class="table table-striped">

    <tr>
      <td>
        <label for="volunteer_name">
          Name
        </label>
      </td>
      <td><%= f.text_field(:name, class: "form-control") %></td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_photo">
          Photo
        </label>
      </td>
      <td>
        <%= image_tag @volunteer.photo.url(:thumb), alt: "#{@volunteer.name} Photo" %>
        <%= f.file_field(:photo) %>
      </td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_phone">Phone</label>
      </td>
      <td>
        <div class="form-inline">
          <%= f.text_field(:phone, class: "form-control") %> with <%= f.select(:cell_carrier_id, CellCarrier.all.collect{ |cc| [cc.name,cc.id] },{include_blank: true}, {class: "form-control"}) %>
        </div>
      </td>
      </tr>
    </tr>

    <tr>
      <td>
        <label for="volunteer_email">
          Email
        </label>
      </td>
      <td><%= f.text_field(:email, class: "form-control") %></td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_preferred_contact">
          Preferred Contact
        </label>
      </td>
      <td>
        <div class="form-inline">
          <%= f.select(:preferred_contact,[["Email","Email"],["Phone","Phone"],["Text","Text"]], {include_blank: true}, {class: "form-control"}) %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="">Receive From Robot</label>
      </td>
      <td>
        <div>
          <%= f.check_box(:sms_too) %>
          <label for="volunteer_sms_too">Text Messages</label>
        </div>
        <div>
          <%= f.check_box(:pre_reminders_too) %>
          <label for="volunteer_pre_reminders_too">Pre Pickup-Reminders</label>
        </div>
        <div>
          <%= f.check_box(:get_sncs_email) %>
          <label for="volunteer_get_sncs_email">SNCS Email</label>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_on_email_list">On Email List</label>
      </td>
      <td>
        <%= f.check_box(:on_email_list) %>
      </td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_transport_type_id">Transport</label>
      </td>
      <td>
        <div class="form-inline">
          <%= f.select(:transport_type_id, TransportType.all.collect{ |tt| [tt.name,tt.id] },{include_blank: true}, {class: "form-control"}) %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_has_car">Has Car</label>
      </td>
      <td><%= f.check_box(:has_car) %></td>
    </tr>

    <tr>
      <td>
        <label for="volunteer_pickup_prefs">Pickup Preferences</label>
      </td>
      <td class="form-fields"><%= f.text_area(:pickup_prefs, size: "30x6", class: "form-control") %></td>
    </tr>

    <% if current_volunteer.any_admin? %>
      <tr>
        <td>
          <label for="volunteer_admin_notes">Admin Notes</label>
        </td>
        <td><%= f.text_area(:admin_notes, size: "30x6", class: "form-control") %></td>
      </tr>
      <%= hidden_field_tag "volunteer[region_ids][]","" %>
      <tr>
        <td>
          <label for="">Region(s)</label>
        </td>
        <td>
          <% @my_admin_regions.each{ |r| %>
            <div class="col-sm-3">
              <%= check_box_tag "volunteer[region_ids][]", r.id, @volunteer.regions.include?(r) %>
              <label for=""><%= r.name %></label>
            </div>
          <% } unless @my_admin_regions.nil? %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="volunteer_is_disabled">Account Disabled</label>
        </td>
        <td><%= f.check_box(:is_disabled) %></td>
      </tr>
    <% end %>

  </table>

  <%= submit_tag %>

<% end %>
