<%= render partial: "datepicker" %>

<div class="row">
  <div class="col-sm-12">
    <h2 class="section-head first">Region Admin Controls</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Switch to User</h2>
    <p>
      Select a volunteer from the list below to switch to.
      After switching you will have logout and login to get back to your
      real user.
    </p>
    <%= form_tag("/volunteers/switch_user", method: "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="volunteer_id">Volunteer:</label>
          </td>
          <td>
            <%= select_tag(:volunteer_id, options_for_select(Volunteer.with_regions_for_select(my_admin_volunteers)), { class: "form-control select2" }) %>
          </td>
        </tr>
      </table>
      <%= submit_tag "Switch" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2> Generate Receipts </h2>
    <%= form_tag("/logs/receipt.pdf", method: "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="location_id">Donor:</label>
          </td>
          <td>
            <% if current_volunteer.super_admin? %>
              <%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{current_volunteer.regions.collect{ |r| r.id }.join(",")})").collect{ |v| [v.name, v.id] }), { class: "form-control select2" }) %>
            <% else %>
              <%= select_tag(:location_id, options_for_select(Location.where(region_id: @admin_region_ids).collect { |loc| [loc.name, loc.id] })) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <label for="start_id">Starting On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= text_field_tag :start_date, "", class: 'datepicker', value: Time.zone.today %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="stop_date">Ending On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= text_field_tag :stop_date, "", class: 'datepicker', value: Time.zone.today %>
            </div>
          </td>
        </tr>
      </table>
      <%= submit_tag "Generate" %>
    <% end %>
  </div>
</div>

<div class="row">
  <br />
  <br />
  <div class="col-sm-6">
    <h2> Export Data </h2>
    <%= form_tag("/logs/export.csv", :method => "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="">Starting On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= text_field_tag :start_date, "", class: 'datepicker', value: Time.zone.today %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Ending On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= text_field_tag :stop_date, "", class: 'datepicker', value: Time.zone.today %>
            </div>
          </td>
        </tr>
      </table>
      <%= submit_tag "Export" %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h2>Regional Admin Appointment</h2>
    <p>Make a volunteer an admin for your region. Users that are asterisk-ed*, have admin powers already. You can remove those powers by toggling them.</p>

    <%= form_tag("/assignments/knight", :method => "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="volunteer_id">Volunteer:</label>
          </td>
          <td>
            <%= select_tag(:volunteer_id, options_for_select(Volunteer.with_regions_for_select(my_admin_volunteers)), {class: "form-control select2"}) %>
          </td>
        </tr>
        <tr>
          <td>
            <label for="region_id">Region:</label>
          </td>
          <td>
            <%= select_tag(:region_id, options_for_select(@my_admin_regions.collect{ |r| [r.name, r.id] }), {class: "form-control"}) %>
          </td>
        </tr>
      </table>
      <%= submit_tag 'Toggle' %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "datepicker_footer" %>
