<div class="row-fluid">
  <div class="span12">
    <h2 class="section-head first">Region Admin Controls</h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2> Switch to User </h2>
    <p> 
      Select a volunteer from the list below to swtich to.
      After switching you will have logout and login to get back to your
      real user.
    </p>
    <%= form_tag("/volunteers/switch_user", :method => "get") do %>
      <table class>
        <tr>
          <td>Volunteer:</td>
          <% adminrids = current_volunteer.assignments.collect{ |a| a.admin ? a.region.id : nil }.compact
          if current_volunteer.super_admin? %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v| 
                    ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }),{:class => "select2"}) %></td> 
          <% else %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v| 
                    ((v.regions.collect{ |r| r.id } & adminrids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact),{:class => "select2"}) %></td>
          <% end %>
        </tr>
      </table>
      <%= submit_tag "Switch" %>
    <% end %>
  </div>
  <div class="span6">
    <h2> Generate Receipts </h2>
    <%= form_tag("/logs/receipt.pdf", :method => "get") do %>
      <table>
        <tr>
          <td>Donor:</td>
          <% adminrids = current_volunteer.assignments.collect{ |a| a.admin ? a.region.id : nil }.compact
          if current_volunteer.super_admin? %>
          <td><%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{current_volunteer.regions.collect{ |r| 
                   r.id }.join(",")})").collect{ |v| [v.name,v.id] }),{:class => "select2"}) %></td>
          <% else %>
          <td><%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{adminrids.join(",")})").collect{ |l|
                    [l.name,l.id] })) %></td>
          <% end %>
        </tr>
        <tr>
          <td>Starting On: </td>
          <td><%= select_date Time.zone.today, :prefix => :start_date %></td>
        </tr>
        <tr>
          <td>Ending On: </td>
          <td><%= select_date Time.zone.today, :prefix => :stop_date %></td>
        </tr>
      </table>
      <%= submit_tag "Generate" %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2> Regional Admin Appointment </h2>
    <p>Make a volunteer an admin for your region. Users that are asterisk-ed*, have admin powers already. You can remove those powers by toggling them.</p>
    <%= form_tag("/assignments/knight", :method => "get") do %>
      <table class>
        <tr>
          <td>Volunteer:</td>
          <td><%= select_tag(:volunteer_id, options_for_select(@my_admin_volunteers.collect{ |v| [v.name+" ["+v.assignments.collect{ |a| ((a.region.nil?) ? "" : a.region.name) + (a.admin ? "*" : "") }.join(",")+"]",v.id] }),{:class => "select2"}) %></td>
        </tr>
        <tr>
          <td>Region:</td>
          <td><%= select_tag(:region_id, options_for_select(@my_admin_regions.collect{ |r| [r.name,r.id] })) %></td>
        </tr>
      </table>
      <%= submit_tag 'Toggle' %>
    <% end %>
  </div>
  <div class="span6">
    <h2> Export Data </h2>
    <%= form_tag("/logs/export.csv", :method => "get") do %>
      <table>
        <tr>
          <td>Starting On: </td>
          <td><%= select_date Time.zone.today, :prefix => :start_date %></td>
        </tr>
        <tr>
          <td>Ending On: </td>
          <td><%= select_date Time.zone.today, :prefix => :stop_date %></td>
        </tr>
      </table>
      <%= submit_tag "Export" %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  //jQuery('.select2').select2({width:'element'});
});
</script>
<% end %>