
<div class="row-fluid">
  <div class="span12">
    <h2 class="section-head first">Stats and Charts</h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
   <h2>Annual Statistics</h2>
   <div style="width: 500px;" id="highchart_year"></div>
  </div>
  <div class="span6">
    <h2>Monthly Statistics</h2>
    <div style="width: 500px;" id="highchart_month"></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2>Donor &amp; Recipient Map</h2>
    <%= gmaps(:map_options => { :id => "map" },
              :markers => { "data" => @region_locations.to_gmaps4rails} ) %>
  </div>
 </div>

<div class="row-fluid">
  <div class="span12">
    <h2 class="section-head">Other Statistics</h2>
    <p>
    Before <%= @first_recorded_pickup.to_s %>: <%= Region.all_admin(current_volunteer).collect{ |r| r.prior_lbs_rescued.nil? ? 0.0 : r.prior_lbs_rescued }.sum %>
    </p>
    <p>
    <% 
    n = 0
    @pounds_per_year.keys.sort.each{ |year| %>
      <%= n == 0 ? "Remainder of " : "" %><%= year %><%= n == @pounds_per_year.length-1 ? " YTD" : "" %>: <%= @pounds_per_year[year] %><br>   
    <%   n += 1
    }
    %>
    </p>
    <p>
    Regions: <%= Region.all_admin(current_volunteer).collect{ |r| r.name }.join(", ") %>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h2 class="section-head">Volunteer Statistics</h2>

    <h2>Last 12 Months</h2>
    <table class="datatable"><thead><th>Volunteer<th>Amount<th>Count<th>By Car<th>Covered</tr></thead><tbody>
    <% @per_volunteer.each{ |v,s| %>
       <% next if s[:weight] == 0 %>
       <tr><td><%= Volunteer.find(v).name %><td><%= s[:weight] %><td><%= s[:count] %><td><%= s[:bycar] %><td><%= s[:covered] %>
    <% } %>
    </tbody></table>
    
    <br><br>

    <h2>Last Month</h2>
    <table class="datatable"><thead><th>Volunteer<th>Amount<th>Count<th>By Car<th>Covered</tr></thead><tbody>
    <% @per_volunteer2.each{ |v,s| %>
    <% next if s[:weight] == 0 %>
    <tr><td><%= Volunteer.find(v).name %><td><%= s[:weight] %><td><%= s[:count] %><td><%= s[:bycar] %><td><%= s[:covered] %>
    <% } %>
    </tbody></table>

    <br><br>

    <h2>Attrition</h2>
    Volunteers who have done pickups, but not for 90 days or more.
    <table class="datatable"><thead><th>Volunteer<th>Email<th>Last Pickup<th>Num Pickups</thead><tbody>
    <% 
      @lazy_volunteers.each{ |v|
      next if Date.parse(v.last_date) > (Date.today - 90)
    %> 
    <tr><td><%= [v.name,v.email,v.last_date,v.count].join("<td>").html_safe %>
    <% } %>
    </tbody>
    </table>
  </div>
</div>

  
<% content_for :scripts do %>
  <script type="text/javascript">
  $(function () { 
    $('.datatable').dataTable( {
      'iDisplayLength' : 10
     });
    $('#highchart_month').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Stats'
        },
        xAxis: {
            title: { text: 'Month' },
            categories: ['<%= raw @pounds_per_month_labels.join("','") %>']
        },
        yAxis: {
            title: { text: 'Pounds' }
        },
        series: [{
            name: 'Food Rescued',
            data: [<%= @pounds_per_month_data.join(",") %>]
        }]
    });
    $('#highchart_year').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Yearly Stats'
        },
        xAxis: {
            title: { text: 'Year' },
            categories: ['<%= raw @pounds_per_year_labels.join("','") %>']
        },
        yAxis: {
            title: { text: 'Pounds' }
        },
        series: [{
            name: 'Food Rescued',
            data: [<%= @pounds_per_year_data.join(",") %>]
        }]
    });
  });
  </script>
<% end %>