<div class="row">
  <div class="col-sm-12">
    <h2 class="section-head first">Region Admin Controls</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2> Switch to User </h2>
    <p>
      Select a volunteer from the list below to swtich to.
      After switching you will have logout and login to get back to your
      real user.
    </p>
    <%= form_tag("/volunteers/switch_user", method: "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="volunteer_id">Volunteer:</label>
          </td>

          <% if current_volunteer.super_admin? %>
            <td>
              <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                    ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }), {class: "form-control select2"}) %></td>
          <% else %>
            <td>
              <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                    ((v.regions.collect{ |r| r.id } & @admin_region_ids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact), {class: "form-control select2"}) %>
            </td>
          <% end %>
        </tr>
      </table>
      <%= submit_tag "Switch" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2> Generate Receipts </h2>
    <%= form_tag("/logs/receipt.pdf", method: "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="location_id">Donor:</label>
          </td>
          <% if current_volunteer.super_admin? %>
            <td>
              <%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{current_volunteer.regions.collect{ |r|
                     r.id }.join(",")})").collect{ |v| [v.name,v.id] }),{class: "form-control select2"}) %>
            </td>
          <% else %>
          <td>
            <%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{@admin_region_ids.join(",")}) AND location_type != '0'").collect{ |l|
                    [l.name,l.id] }), {class: "form-control select2", data:{farmers_market_locations: @farmers_market_locations}}) %>
          </td>
    <% end %>
        </tr>
        <tr class = "vendors">
          <td> <label for="location_id">Vendor:</label></td>
          <td>
            <%= select_tag(:location_admin_id,[],{class: "form-control select2", data:{vendors_by_location: @vendors_by_location}}) %>
          </td>
        </tr>
        <tr>
          <td>
            <label for="start_id">Starting On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= select_date Time.zone.today, {prefix: :start_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="stop_date">Ending On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= select_date Time.zone.today, {prefix: :stop_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
            </div>
          </td>
        </tr>
      </table>
      <%= submit_tag "Generate" %>
    <% end %>
  </div>
</div>

<div class="row">
  <br />
  <br />
  <div class="col-sm-6">
    <h2> Export Data </h2>
    <%= form_tag("/logs/export.csv", :method => "get") do %>
      <table class="table">
        <tr>
          <td>
            <label for="">Starting On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= select_date Time.zone.today, {prefix: :start_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="">Ending On: </label>
          </td>
          <td>
            <div class="form-inline">
              <%= select_date Time.zone.today, {prefix: :stop_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
            </div>
          </td>
        </tr>
      </table>
      <%= submit_tag "Export" %>
    <% end %>
  </div>
</div>
<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      function show_vendors(){
          var farmers_market_location = $('#location_id').data('farmersMarketLocations');
          var current_selected_location = parseInt($('#location_id').val());
          if(farmers_market_location.indexOf(current_selected_location) !== -1){
              var vendors_by_location = $('#location_admin_id').data('vendorsByLocation');
              var options = "";
              for(var i = 0; i < vendors_by_location[current_selected_location].length; i++){
                  options += "<option value=" + vendors_by_location[current_selected_location][i]['location_admin_id'] + ">"
                      + vendors_by_location[current_selected_location][i]['location_admin_name'] + "</option>"
              }
              $('#location_admin_id').html(options);
              $('.vendors').show()
          } else{
              $('.vendors').hide()
          }
      }

      jQuery(document).ready(function() {
          show_vendors();
          $('#location_id').on("change",function(){
                  show_vendors();
          });
      });
  </script>
<% end %>

