<div class="home_sidebar">
  <h1> Sections <h2>
</div>
<div class="home_sections">
<% 
pounds_per_year = {}
pounds_per_month = {}
first_recorded_pickup = nil
per_volunteer = {}
per_volunteer2 = {}
  
Log.where("complete and region_id IN (#{current_volunteer.admin_region_ids.join(",")})").each{ |l|
  pounds_per_year[l.when.year] = 0 if pounds_per_year[l.when.year].nil?
  pounds_per_year[l.when.year] += l.summed_weight
  mokey = l.when.strftime("%Y-%m")
  pounds_per_month[mokey] = 0 if pounds_per_month[mokey].nil?
  pounds_per_month[mokey] += l.summed_weight
  first_recorded_pickup = l.when if first_recorded_pickup.nil? or l.when < first_recorded_pickup
  next if l.volunteer.nil?
  per_volunteer[l.volunteer.id] = {:weight => 0.0, :count => 0, :bycar => 0, :covered => 0} if per_volunteer[l.volunteer.id].nil?
  per_volunteer2[l.volunteer.id] = {:weight => 0.0, :count => 0, :bycar => 0, :covered => 0} if per_volunteer2[l.volunteer.id].nil?
  if l.when >= (Date.today << 12)
    per_volunteer[l.volunteer.id][:weight] += l.summed_weight
    per_volunteer[l.volunteer.id][:count] += 1
    per_volunteer[l.volunteer.id][:bycar] += 1 if !l.transport_type.nil? and l.transport_type.name == "Car"
    per_volunteer[l.volunteer.id][:covered] += 1 if l.orig_volunteer != nil and l.orig_volunteer != l.volunteer
  end
  if l.when >= (Date.today << 1)
    per_volunteer2[l.volunteer.id][:weight] += l.summed_weight
    per_volunteer2[l.volunteer.id][:count] += 1
    per_volunteer2[l.volunteer.id][:bycar] += 1 if !l.transport_type.nil? and l.transport_type.name == "Car"
    per_volunteer2[l.volunteer.id][:covered] += 1 if l.orig_volunteer != nil and l.orig_volunteer != l.volunteer
  end
}

pounds_per_month_data = []
pounds_per_month_labels = pounds_per_month.keys.sort
pounds_per_month_labels.each{ |i|
  pounds_per_month_data << pounds_per_month[i]
}
pounds_per_year_data = []
pounds_per_year_labels = pounds_per_year.keys.sort
pounds_per_year_labels.each{ |i|
  pounds_per_year_data << pounds_per_year[i]
}
%>
<div class="home_section">
 <h1>Stats and Charts</h1>
 <div class="home_sub_section">
 <h2>Annual Statistics</h2>
 <div class="home_section_content">
 <div style="width: 500px;" id="highchart_year"></div>
 </div>
 </div>
 <div class="home_sub_section">
 <h2>Monthly Statistics</h2>
 <div class="home_section_content">
 <div style="width: 500px;" id="highchart_month"></div>
 </div>
 </div>
 <div class="home_sub_section">
 <h2>Donor &amp; Recipient Map</h2>
 <div class="home_section_content">
 <%= gmaps(:map_options => { :id => "map" },
          :markers => { "data" => Location.where("region_id IN (#{current_volunteer.admin_region_ids.join(",")})").to_gmaps4rails }) %>
 </div>
 </div>
 <div class="home_sub_section">
 <h2>Other Statistics</h2>
 <div class="home_section_content">
Before <%= first_recorded_pickup.to_s %>: <%= Region.all_admin(current_volunteer).collect{ |r| r.prior_lbs_rescued.nil? ? 0.0 : r.prior_lbs_rescued }.sum %><br>
<% 
n = 0
pounds_per_year.keys.sort.each{ |year| %>
  <%= n == 0 ? "Remainder of " : "" %><%= year %><%= n == pounds_per_year.length-1 ? " YTD" : "" %>: <%= pounds_per_year[year] %><br>   
<%   n += 1
}
%><br>
 Regions: <%= Region.all_admin(current_volunteer).collect{ |r| r.name }.join(", ") %>
 </div></div>

</div>
<div class="home_section">
<h1>Volunteer Statistics</h1>
<br><br>
<h2>Last 12 Months</h2>
<table class="datatable"><thead><th>Volunteer<th>Amount<th>Count<th>By Car<th>Covered</tr></thead><tbody>
<% per_volunteer.each{ |v,s| %>
   <% next if s[:weight] == 0 %>
   <tr><td><%= Volunteer.find(v).name %><td><%= s[:weight] %><td><%= s[:count] %><td><%= s[:bycar] %><td><%= s[:covered] %>
<% } %>
</tbody></table>
<br><br>
<h2>Last Month</h2>
<table class="datatable"><thead><th>Volunteer<th>Amount<th>Count<th>By Car<th>Covered</tr></thead><tbody>
<% per_volunteer2.each{ |v,s| %>
<% next if s[:weight] == 0 %>
<tr><td><%= Volunteer.find(v).name %><td><%= s[:weight] %><td><%= s[:count] %><td><%= s[:bycar] %><td><%= s[:covered] %>
<% } %>
</tbody></table>
<br><br>
<script type="text/javascript">
$(function () { 
  $('.datatable').dataTable( {
    'iDisplayLength' : 10
   });
  $('#highchart_month').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Monthly Stats'
      },
      xAxis: {
          title: { text: 'Month' },
          categories: ['<%= raw pounds_per_month_labels.join("','") %>']
      },
      yAxis: {
          title: { text: 'Pounds' }
      },
      series: [{
          name: 'Food Rescued',
          data: [<%= pounds_per_month_data.join(",") %>]
      }]
  });
  $('#highchart_year').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Yearly Stats'
      },
      xAxis: {
          title: { text: 'Year' },
          categories: ['<%= raw pounds_per_year_labels.join("','") %>']
      },
      yAxis: {
          title: { text: 'Pounds' }
      },
      series: [{
          name: 'Food Rescued',
          data: [<%= pounds_per_year_data.join(",") %>]
      }]
  });
});
</script>
</div></div>
