<h2><%= @volunteer.name %></h2>
<% unless @volunteer.photo_file_name.nil? %>
  <br />
  <img src="<%= @volunteer.photo(:medium) %>" alt="<%= @volunteer.name %> Photo">
<% end %>
<table>
  <tr>
    <td>Phone</td>
    <td><%= @volunteer.phone %></td>
  </tr>
  <tr>
    <td>Email</td>
    <td>
      <a href="mailto:<%= @volunteer.email %>"><%= @volunteer.email %></a>
    </td>
  </tr>
  <tr>
    <td>Preferred Contact</td>
    <td><%= @volunteer.preferred_contact %></td>
  </tr>
  <tr>
    <td>Transport</td>
    <td>
      <%= @volunteer.transport_type.nil? ? "?" : @volunteer.transport_type.name %> <%= "(has car)" if @volunteer.has_car %>
    </td>
  </tr>
  <tr>
    <td>Region(s)</td>
    <td>
      <%= @volunteer.regions.collect{ |r| r.name }.join(", ") %>
    </td>
  </tr>
</table>
