<h2><%= @v.name %></h2>
<% unless @v.photo_file_name.nil? %><br><img src="<%= @v.photo(:medium) %>"><% end %>
<table>
<tr><td>Phone<td><%= @v.phone %>
<tr><td>Email<td><a href="mailto:<%= @v.email %>"><%= @v.email %></a>
<tr><td>Preferred Contact<td><%= @v.preferred_contact %>
<tr><td>Transport<td><%= @v.transport_type.nil? ? "?" : @v.transport_type.name %> <%= "(has car)" if @v.has_car %>
<tr><td>Region(s)<td> <%= @v.regions.collect{ |r| r.name }.join(", ") %>
<tr><td>Account Status<td><%= s = @v.is_disabled ? "Disabled" : ""
             if !@v.gone_until.nil? and @v.gone_until > Date.today
               s += ", and " if s.length > 0
               s += "Gone until #{@v.gone_until}"
             end
             s.length == 0 ? "Okay" : s %>
</table>
