<div class="row">
  <div class="col-sm-12">
    <h2 class="section-head first"> Super Admin Controls </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2> Switch to User </h2>
    <p>
      Select a volunteer from the list below to switch to.
      After switching you will have to logout and login to be <%= current_volunteer.name %> again!
    </p>
    <%= form_tag("/volunteers/switch_user", method: "get", class: "form-inline") do %>
      <table class="table">
        <tr>
          <td>
            <label for="volunteer_id">Volunteer:</label>
            <% if current_volunteer.super_admin? %>
              <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, order: 'name').collect{ |v|
                      ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }),{class: "form-control select2"}) %>
            <% else %>
              <%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, order: 'name').collect{ |v|
                    ((v.regions.collect{ |r| r.id } & @admin_region_ids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact),{class: "form-control select2"}) %>
            <% end %>
          </td>
        </tr>
      </table>
    <%= submit_tag "Switch", class: 'btn btn-default btn-lg' %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2>Toggle Super-Admin Priviledges</h2>
    <p>
      Super-admins can do most anything for any region. This should only be given to site administrators. Toggle below to assign super admins. Go to <%= link_to "Region Admin", "/volunteers/region_admin" %> to manage region admins.
    </p>
    <%= form_tag("/volunteers/knight", method: "get", class: "form-inline") do %>
      <table class="table">
        <tr>
          <td>
            <label for="volunteer_id">Volunteer:</label>
            <%= select_tag(:volunteer_id, options_for_select(Volunteer.all.collect{ |v|
                  name = v.name + " [" + v.assignments.collect{ |a| (a.admin ? "*" : "") + (a.region.nil? ? "" : a.region.name) }.join(",") + "]"
                  name = "*#{name}" if v.admin
                  [name,v.id]
                  }),{class: "form-control select2"})
              %>
          </td>
        </tr>
     </table>
      <%= submit_tag "Toggle", class: 'btn btn-default btn-lg' %>
    <% end %>
  </div>
</div>
