<div class="row">
  <div class="col-sm-12">
    <h2 class="section-head first"> Super Admin Controls </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2> Switch to User </h2>
    <p>
      Select a volunteer from the list below to swtich to.
      After switching you will have logout and login to get back to your
      real user.
    </p>
    <%= form_tag("/volunteers/switch_user", :method => "get") do %>
      <table class>
        <tr>
          <td>Volunteer:</td>
          <% adminrids = current_volunteer.assignments.collect{ |a| a.admin ? a.region.id : nil }.compact
          if current_volunteer.super_admin? %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                    ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }),{:class => "select2"}) %></td>
          <% else %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                    ((v.regions.collect{ |r| r.id } & adminrids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact),{:class => "select2"}) %></td>
          <% end %>
        </tr>
      </table>
    <%= submit_tag "Switch" %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2> Toggle Super-Admin Priviledges </h2>
    <p>
    Super-admins can do most anything for any region. This should only be given to site
    administrators. See <%= link_to 'assignments', '/assignments' %> to assign per-region admins.
    </p>
    <%= form_tag("/volunteers/knight", :method => "get") do %>
      <table>
        <tr>
          <td>Volunteer:</td>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.all.collect{ |v|
                  name = v.name + " [" + v.assignments.collect{ |a| (a.admin ? "*" : "") + (a.region.nil? ? "" : a.region.name) }.join(",") + "]"
                  name = "*#{name}" if v.admin
                  [name,v.id]
                  }),{:class => "select2"})
              %></td>
        </tr>
     </table>
      <%= submit_tag "Toggle" %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  //jQuery('.select2').select2({width:'element'});
});
</script>
<% end %>
