<div class="row">
  <h2>Volunteer Release and Waiver of Liability</h2>
  <div class="col-sm-12">
    <pre>
      This Release and Waiver of Liability executed on <%= Time.zone.today.to_s %>,
      by <%= current_volunteer.name %> (<%= current_volunteer.email %>)
      releases liability for <%= @region.title %>, a non-profit corporation, and each
      of its directors, coordinators, advisers, and employees. The volunteer
      desires to provide volunteer services for <%= @region.title %> and
      engage in activities related to serving as a volunteer.

      The volunteer understands the scope of the Volunteer’s relationship
      with <%= @region.title %> is limited to a volunteer position and that
      no compensation is expected in return for services provided by the
      Volunteer; that <%= @region.title %> will not provide any benefits
      traditionally associated with employment to the Volunteer; and that
      the Volunteer is responsible for his/her own insurance coverage in the
      event of personal injury or illness as a result of the Volunteer’s services
      to <%= @region.title %>.

      1. Waiver and Release: I, the Volunteer, release and forever
      discharge and hold harmless <%= @region.title %> and its
      successors and assigns from any and all liability, claims, and
      demands of whatever kind or nature, either in law or in equity,
      which arise or may hereafter arise from the services I provide
      to <%= @region.title %>. I understand and acknowledge that
      this Release discharges <%= @region.title %> from any liability
      or claim that I may have against <%= @region.title %> with
      respect to bodily injury, personal injury, illness, death, or
      property damage that may result from the services I provide
      to <%= @region.title %> or occurring while I am providing
      volunteer services.

      2. Insurance: Further I understand that <%= @region.title %>
      does not assume any responsibility for or obligation to
      provide me with financial or other assistance, including but
      not limited to medical, health, disability benefits or insurance
      of any nature in the event of my injury, illness, death, or
      damage to my property. I expressly waive any such claim for
      compensation or liability on the part of <%= @region.title %>
      beyond what may be offered freely by <%= @region.title %> in
      the event of such injury or medical expenses incurred by me.

      3. Medical Treatment: I herby Release and forever discharge
      <%= @region.title %> from any claim whatsoever which arises
      or may hereafter arise on account of any first-aid treatment
      or other medical services rendered in connection with an
      emergency during my tenure as a volunteer with <%= @region.title %>.

      4. Assumption of Risk: I understand that the services I provide
      to <%= @region.title %> may include activities that may be
      hazardous to me including, but not limited to, lifting or loading
      food, riding a bicycle in an urban environment, or operating
      an automobile. As a volunteer, I hereby expressly assume
      the risk of injury or harm from these activities and release
        <%= @region.title %> from all liability for injury, illness, death,
      or property damge resulting from the services I provide as a
      volunteer or occurring while I providing volunteer services.

      By signing below, I express my understanding and intent to enter into
      this release and waiver of Liability willingly and voluntarily.
    </pre>
    <br />

    <% unless current_volunteer.waiver_signed %>
      <%= form_tag("/volunteers/sign_waiver", :method => "get") do %>
        Check to sign electronically: <%= check_box_tag 'accept', 1 %><br />
        Date: <%= Time.zone.today.to_s %><br /><br />
        <%= submit_tag 'Sign', class: "form-control" %>
      <% end %>
    <% else %>
      <span style="font-weight: bold; color: orange;">You signed the waiver at <%= current_volunteer.waiver_signed_at.to_s %>.</span>
      <br /><br />
    <% end %>
  </div>
</div>
