    <h2> Region Assignment </h2>
       <%= form_tag("/assignments/assign", :method => "get") do %>
        <table class>
          <tr>
            <td>Volunteer:</td>
            <td><%= select_tag(:volunteer_id, options_for_select(@my_admin_volunteers.collect{ |v| [v.name+" ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] })) %></td>
          </tr>
          <tr>
            <td>Region:</td>
            <td><%= select_tag(:region_id, options_for_select(@regions.collect{ |r| [r.name,r.id] })) %></td>
          </tr>
          <tr>
            <td>Un-Assign:</td>
            <td><%= check_box_tag(:unassign) %></td>
          </tr>
          <tr>
           <td>Send Welcome Email:</td>
           <td><%= check_box_tag(:send_welcome_email,1,:checked=>true) %></td>
          </tr>
        </table>
        <%= submit_tag %>
        <% end %>
<br><br>
   <h2> Regional Admin Appointment </h2>
       <%= form_tag("/assignments/knight", :method => "get") do %>
        <table class>
          <tr>
            <td>Volunteer:</td>
            <td><%= select_tag(:volunteer_id, options_for_select(@my_admin_volunteers.collect{ |v| [v.name+" ["+v.assignments.collect{ |a| ((a.region.nil?) ? "" : a.region.name) + (a.admin ? "*" : "") }.join(",")+"]",v.id] })) %></td>
          </tr>
          <tr>
            <td>Region:</td>
            <td><%= select_tag(:region_id, options_for_select(@my_admin_regions.collect{ |r| [r.name,r.id] })) %></td>
          </tr>
          <tr>
           <td>Un-Knight:</td>
           <td><%= check_box_tag(:unassign) %></td>
          </tr>
        </table>
        <%= submit_tag %>
        <% end %>
