<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :region %><br />
  <%= f.select(:requested_region_id,Region.all.collect{ |r| [r.name,r.id] }) %></div>
  <br>

  <div>Please note that, after submitting this form, an administrator-user of the Robot must confirm you as a valid volunteer (specifically, in the region you've selected above) before you can start signing up for deliveries. <br /><br />The exact procedure to follow for confirmation may vary from region to region; you may be required to undergo an orientation process to acquaint you with the Robot's workings. Inquire with your local Food Rescue organization for more information.</div>
  <br />

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
