<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
Most awesome robot administrators!
</p>
<p>
These volunteers need to enter their data:
</p>
<ul>
<% @logs.each{ |l| %>
  <li><%= l.volunteers.blank? ? "?" : l.volunteers.collect{ |v| v.name }.join(" and ") %>, <%= l.donors.nil? ? "Unknown" : l.donor.name %> -> <%= l.recipients.collect{ |r| r.nil? ? nil : r.name }.compact.join(", ")} %> on <%= l.when %> (<%= l.num_reminders %> reminders sent)</li>
<% } %>
</ul>
<p>
  Thanks!
</p>
<p>
  *chirp* *beep*
</p>
--<br/>
The Food Rescue Robot<br/>
http://robot.boulderfoodrescue.org
</body>
</html>