<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>

    <p>
      Hi there,
    </p>

    <p>
      <%= @schedule.volunteers.last.try(:name) %> just picked up a regular shift (#<%= @schedule.id %>), from <%= @schedule.schedules.first.location.try(:name) %> to <%= @schedule.schedules.last.location.try(:name) %> on <%= @schedule.day_of_week.nil? ? "(any day)" : Date::DAYNAMES[@schedule.day_of_week] %> at <%= readable_start_time(@schedule) %>-<%= readable_stop_time(@schedule) %>.
    </p>

    <p>
      The issue is that the following volunteers are already scheduled to cover this shift in the coming days/weeks:
    </p>

    <ul>
    <% @shifts.each do |shift| %>
      <li>
        <%= shift.when %> (<%= time_ago_in_words(shift.when) %> from now): <%= shift.volunteers.collect { |v| v.name }.join(", ") %>
      </li>
    <% end %>
    </ul>
    <p>
      Thanks!
    </p>
    <p>
      *chirp* *beep*
    </p>
    --<br/>
    The Food Rescue Robot<br/>
    http://robot.boulderfoodrescue.org

  </body>
</html>
