<%= form_for @schedule, :url => {:action => @action } do |f| %>

  <%= hidden_field_tag "schedule[region_id]", @region.id %>

  <table>
   <tr><td>Frequency</td>
      <td>
      <%= f.select(:frequency, options_for_select(
          {'Weekly'=>'weekly', 'One Time'=>'one-time'})) %>
      <div id="frequency-option-weekly" class="frequency-option" style="display:none;">
          on <%= f.select(:day_of_week, Webapp::Application.config.DayOfWeek) %>
      </div>
      <div id="frequency-option-one-time" class="frequency-option" style="display:none;">
          on <%= f.date_select(:detailed_date) %>
      </div>
      <div>
          between <%= f.time_select(:detailed_start_time,:minute_step=>30, :ampm=>true) %>
          and <%= f.time_select(:detailed_stop_time,:minute_step=>30, :ampm=>true) %>
      </div>
      </td>
  </tr>
  <tr><td>Day</td>
      <td><%= f.select(:day_of_week, Webapp::Application.config.DayOfWeek) %></td>
  </tr>
    <tr><td>Volunteer</td>
        <td><%= f.select(:volunteer_id, @volunteers, {:include_blank => true}) %></td>
    </tr>
    <tr><td>Donor</td>
        <td><%= f.select(:donor_id, @donors, {:include_blank => true}) %></td>
    </tr>
    <tr><td>Recipient</td>
        <td><%= f.select(:recipient_id, @recipients, {:include_blank => true}) %></td>
    </tr>
    <tr><td>Public Notes</td>
        <td><%= f.text_area(:public_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Admin Notes</td>
        <td><%= f.text_area(:admin_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Irregular</td>
        <td><%= f.check_box(:irregular) %></td>
    </tr>
    <tr><td>Backup Pick up</td>
        <td><%= f.check_box(:backup) %></td>
    </tr>
    <tr><td>Temporary Cover</td>
        <td><%= f.check_box(:temporary) %></td>
    </tr>
    <tr><td>Scheduled Transport</td>
        <td><%= f.select(:transport_type_id, @transport_types) %>
    <%= hidden_field_tag "schedule[food_type_ids][]","" %></td>
    </tr>
    <tr><td>Food Type(s)</td><td><% FoodType.regional(@schedule.region).each{ |ft| %>
      <%= check_box_tag "schedule[food_type_ids][]", ft.id, @schedule.food_types.include?(ft) %> <%= ft.name %>
    <% } %></td>
    </tr>
    <tr><td>Prior Volunteer</td>
        <td><%= f.select(:prior_volunteer_id, @volunteers, {:include_blank => true}) %></td>  
    </tr>
  </table>

  <%= submit_tag %>

<% end %>

<% if use_detailed_hours? %>
<script type="text/javascript">
$(function(){
  $('#schedule_frequency').bind('change',function(){
    $('.frequency-option').hide();
    var selectedOption = $('#schedule_frequency').find(':selected').val();
    $('#frequency-option-'+selectedOption).show();
  });
  $('#schedule_frequency').change();
})
</script>
<% end %>
