<h2>Unassigned Pickups</h2>
<% if @open_schedules.length == 0 %>
<p> 
  There are no open schedules at this time. Please check back later.
</p>
<% else %>
<% days_of_week = [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ] %>
<table id="my_schedule_table">
  <thead>
  <tr>
    <th> Region </th>
    <th> Day of Week </th>
    <th> Donor </th>
    <th> Recipient </th>
    <th> Volunteer </th>
    <th> Start Time </th>
    <th> End Time </th>
    <th> Notes </th>
    <th> Prior Volunteer </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%
    @open_schedules.each do |schedule|
  %>
  <tr>
    <td> <%= schedule.region.name %>
    <td> <%= days_of_week[schedule.day_of_week] %> </td>
    <td> <%= link_to schedule.donor.name, schedule.donor %> </td>
    <td> <%= link_to schedule.recipient.name, schedule.recipient %> </td>
    <td class="special_col"> <%= link_to "Take Pickup", {:controller => "schedules", :action => "take", :id => schedule.id} %></td>
    <td> <%= schedule.time_start %> </td>
    <td> <%= schedule.time_stop %> </td>
    <td>
      <% if schedule.public_notes != nil && schedule.public_notes.length > 47 %>
      <%= schedule.public_notes[0...47] + '...'%>
      <% else %>
      <%= schedule.public_notes %>
      <% end %>
    </td>
    <td>
      <% if schedule.prior_volunteer_id != nil && Volunteer.where(:id => schedule.prior_volunteer_id).present? %> 
      <% prior_volunteer = Volunteer.find(schedule.prior_volunteer_id) %>
      <%= link_to prior_volunteer.name, prior_volunteer %>
      <% end %>
    </td>
    <td> <%= link_to 'view',  schedule %> </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
