<div class="home_sections">
  <div class="home_section">
    <h2> Upcoming Pickups </h2>
    <div class="home_section_content">
      <% if @upcoming_pickups.length == 0 %>
      <p> No upcoming pickups. </p>
      <% else %>
      <table>
      	<tr>
      	  <th>Location</th>
      	  <th>Date</th>
      	  <th>Link</th>
      	</tr>
        <% @upcoming_pickups.each do |pickup| %>
        <tr>
          <td> <%= link_to pickup.donor.name, pickup.donor %> </td>
          <td> <%= pickup.when %> </td>
          <td> <%= link_to "view", pickup %> </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
  <div class="home_section">
  	<h2> to do pickup reports </h2>
  	<div class="home_section_content">
  	  <% if @to_do_reports.length == 0 %>
  	  <p> No To Do Pickup Reports. Good Work! </p>
  	  <% else %>
      <table>
      	<tr>
      	  <th>Donor</th>
      	  <th>Date</th>
      	  <th>Link</th>
      	</tr>
        <% @to_do_reports.each do |report| %>
        <tr>
          <td> <%= link_to report.donor.name, report.donor %> </td>
          <td> <%= report.when %> </td>
          <td> <%= link_to "view", report %> </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
  <div class="home_section">
    <h2> Last 10 Pickups </h2>
    <div class="home_section_content">
      <% if @last_ten_pickups.length == 0 %>
        <p> No pickup reports found </p>
      <% else %>
        <table>
          <tr>
            <th> Date </th>
            <th> Donor </th>
            <th> Size </th>
            <th> Link </th>
          </tr>
          <% @last_ten_pickups.each do |pickup| %>
          <tr>
            <td> <%= pickup.when %> </td>
            <td> <%= link_to pickup.donor.name, pickup.donor %> </td>
            <td> <%= pickup.weight %> </td>
            <td> <%= link_to "view", pickup %> </td>
          </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
  <div class="home_section">
  	<h2> Next Meeting Info </h2>
  	<div class="home_section_content">
  	  <table>
  	    <tr>
  	      <td> Date </td>
  	      <td> 2/2/2222 </td> 
  	    </tr>
  	    <tr>
  	      <td> Location </td>
  	      <td> West Elm Street <a href="#"> Map </a> </td>
  	    </tr>
  	    <tr>
  	      <td> Topics </td>
  	      <td> Topic, Topic, Topic, Topic, Topci </td>
  	    </tr>
  	  </table>
  	</div>
  </div>
  <div class="home_section">
    <h2> Pickup Stats </h2>
    <div class="home_section_content">
      <table>
        <tr>
          <th> Stat </th>
          <th> Value </th>
        </tr>
        <tr>
          <td> Completed Pickups </td>
          <td> <%= @completed_pickup_count %> </td>
        </tr>
        <tr>
          <td> Amount of Food Rescued </td>
          <td> <%= @total_food_rescued %> </td>
        </tr>
        <tr title="Distance is calculated based on the geospacial distance between your pickups and delivaries. This underestimates your distance traveled.">
          <td> Distance traveled (Estimate) </td>
          <td> <%= @dis_traveled.round(2) %> km</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="home_section">
    <h2> Food Collected by Day </h2>
    <div class="home_section_content">
      <%= high_chart("chart_food_per_day", @food_chart_day)  %>
    </div>
  </div>
  <div class="home_section">
    <h2> Food Collected by Month </h2>
    <div class="home_section_content">
      <%= high_chart("chart_food_per_month", @food_chart_month)  %>
    </div>
  </div>
  <div class="home_section">
  	<h2> Your Donor/Recipient Map </h2>
  	<div class="home_section_content">
  	  <p> A Map Of Donor and Recipients </p>
  	</div>
  </div>
</div>
