You can use the form below to schedule an absence. Note that any shift occuring <strong>within the next three days</strong> cannot be deferred in this way. Instead, please contact the volunteer coordinator (and/or email list if one exists in your organization) to find a cover on short notice. Thanks!

<%= form_for(@absence, html: {class: 'form-inline'}) do |f| %>
  <table class="table absence_table">

    <% if current_volunteer.any_admin? %>
      <tr>
        <td>
          <label for="absence_volunteer_id">
            Volunteer:
          </label>
        </td>
        <td><%= f.select(:volunteer_id, adminable_active_volunteers.collect { |v| [v.name, v.id] }, {}, { class: 'form-control' } ) %></td>
      </tr>
    <% end %>

    <tr>
      <td>
        <label for="absence_start_date_1i">Starting On: </label>
      </td>
      <td class="form-fields">
        <%= date_select(:absence, :start_date, {default: 3.days.from_now, order: [:month, :day, :year]}, {class: 'form-control'}) %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="absence_stop_date_1i">Ending On: </label>
      </td>
      <td class="form-fields">
        <%= date_select(:absence, :stop_date, {default: 3.days.from_now, order: [:month, :day, :year]}, {class: 'form-control'})%>
      </td>
    </tr>
    <tr>
      <td>
        <label for="absence_comments">Comments:</label>
      </td>
      <td class="form-fields">
        <%= f.text_area(:comments, size: "30x6", class: 'form-control') %>
      </td>
    </tr>
  </table>
  <%= submit_tag %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
      //jQuery('.select2').select2({width:'element'});
    });
  </script>
<% end %>
