  <%= form_for @scale_type, :url => {:action => @action } do |s| %>
<table>
<%= hidden_field_tag "scale_type[region_id]", @scale_type.region_id %>
<tr><td>Name<td><%= s.text_field(:name) %>
<tr><td>Units<td><%= s.select(:weight_unit, options_for_select(['lb','kg','st'])) %>
</table>
<%= submit_tag %>
<% end %>
