<h2>Scale Types</h2>

<div style="text-align: right;">
  <%= link_to 'New Scale Type', new_region_admin_scale_type_url, class: 'btn btn-primary' %>
</div>


<% if @scale_types.empty? %>
  <p>No scales. All entered weights will be flagged as estimates.</p>
<% else %>
  <table id="data_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Unit</th>
        <th>Region</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @scale_types.each do |scale_type| %>
        <tr>
          <td><%= scale_type.name %></td>
          <td><%= scale_type.weight_unit %></td>
          <td><%= scale_type.region.name %></td>
          <td><%= link_to 'Edit', edit_region_admin_scale_type_url(scale_type)  %><br>
               <%= link_to "Delete", region_admin_scale_type_url(scale_type), :confirm => "Are you sure?", :method => :delete %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function () { 
      $('#data_table').dataTable( {
        'iDisplayLength' : 50,
      });
    });
  </script>
<% end %>
