<%= simple_form_for @log, url: {action: @action }, class: 'form-horizontal' do |f| %>
  <!-- Errors -->
  <% if @log.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <strong><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</strong>
        <ul>
          <% @log.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= hidden_field_tag "log[region_id]", @region.id %>
      <%= hidden_field_tag "log[schedule_chain_id]", @log.schedule_chain.nil? ? nil : @log.schedule_chain.id  %>
      <details>
              Date
              <div class="form-inline">
                <%= f.date_select :when, {order: [:month, :day, :year]}, {class: 'form-control'} %>
              </div>
            <h5>Volunteer</h5>
              <div>
                <%= f.simple_fields_for :log_volunteers do |log_volunteer| %>
                  <%= render 'log_volunteer_fields', :f => log_volunteer %>
                <% end %>
                <br />
                <%= link_to_add_association 'add another volunteer', f, :log_volunteers, class: 'btn btn-primary' %>
              </div>
          <% if current_volunteer.any_admin?(@log.region) %>
                Needed Volunteers<br/>
                <span class="subtext">Default is the number required by the associated schedule, or at least one.</span>
                <%= f.text_field(:num_volunteers, class: "form-control") %>
          <% end %>

            <h5>Recipients</h5>
              <div>
                <%= f.simple_fields_for :log_recipients do |log_recipient| %>
                  <%= render 'log_recipient_fields', :f => log_recipient %>
                <% end %>
                <%= link_to_add_association 'add another recipient', f, :log_recipients, :class=>'btn' %>
              </div>
            <h5>Donor</h5>
              <%= f.select :donor_id, (@region.locations.donors + @region.locations.hubs + @region.locations.sellers).collect{ |d| [d.name,d.id] }, {include_blank: true}, {class: 'form-control select2'} %>
      </details>
    </div>
  </div>

<div class="mb-3">
  <label for="username">How did you transport this food?</label>
  <div class="input-group" style="width: 50%;">
    <%= f.select(:transport_type_id, @transport_types,{:include_blank => true}, {class: "form-control"}) %>
  </div>
</div>

<div class="mb-3">
  <label for="email">Weight of food picked (lbs.)</label>
  <% @log.log_parts.each{ |lp| %>
    <%= fields_for :log_parts, lp, :index => "update_#{lp.id}" do |f2| %>
      <tr class="log_part" style="background: <%= lp.required ? "lightgrey" : "white" %>;">
        <td>
          <%= f2.text_field(:weight, size: 5, class: "form-control") %>
        </td>
        <td>
          <%= f2.text_field(:count, size: 5, class: "form-control") %>
        </td>
        <td>
          <%= f2.text_field(:description, size: 20, class: "form-control") %>
          <%= f2.hidden_field(:id) %>
        </td>
      </tr>
    <% end %>
  <% } %>

  <%= fields_for :log_parts, LogPart.new, :index => "new_0" do |f2| %>
    <tr class="log_part">
      <td>
        <%= f2.text_field(:weight, size: 5, class: "form-control") %>
      </td>
      <td>
        <%= f2.text_field(:count, size: 5, class: "form-control") %>
      </td>
      <td>
        <%= f2.text_field(:description, size: 20, class: "form-control") %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>TOTAL: <span id="total_weight">0</span></td>
    </tr>
  <% end %>
</div>

<div class="mb-3">
  <label for="address">Hours Spent</label>
  <%= f.text_field(:hours_spent, :size => "3", class: "form-control") %>
</div>

<div class="mb-3">
  <label for="address2">Any comments, concerns, notes?
  </label>
  <%= f.text_area(:notes, :size => "30x6", class: "form-control") %>
</div>

  <div class="row">
    <div class="col-sm-12">
    <td>
      Flag For Admin<br />
      <span class="subtext">Check this if you want to make sure someone reads this.</span>
    </td>
    <td>
      <div class="checkbox">
      <label for="log_flag_for_admin">
        <%= f.check_box(:flag_for_admin) %>
        Flag
      </label>
    </td>
  </tr>
</table>
</div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= submit_tag %>
  </div>
</div>
<% end %>
