<h2><%= @header %></h2>

<div class="row">
  <% if current_volunteer.any_admin? %>
    <div class="col-sm-6 text-left">
      <%= form_tag("/logs/new", method: "get", class: "form-inline") do %>
        <%= label_tag :region_id, 'New Log For:' %>
        <%= select_tag(:region_id, options_for_select(@my_admin_regions.collect{ |r| [r.name, r.id] }), { class: 'form-control' } ) %>
        <%= submit_tag("Go") %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= form_tag("/logs/by_day", method: "get", class: "form-inline") do %>
        Jump to <%= date_select("date", :d, {order: [:day, :month, :year], start_year: 1920, end_year: DateTime.now.year}, { class: 'form-control' }) %>
        <%= submit_tag("Go") %>
      <% end %>
    </div>
  <% end %>
  <br />
  <br />
</div>

<div class="row">
  <div class="col-sm-12">
    <% if current_volunteer.assignments.length == 0 %>
      <p>You haven't been assigned to any regions, so you can't see anything yet. Ask a coordinator for your region to assign you!</p>
    <% elsif @shifts.length == 0 %>
      <p>No shifts found.</p>
    <% else %>
      <table class="table" id="data_table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Info</th>
            <th>When</th>
            <th>Volunteers</th>
            <th>Donor</th>
            <th>Recipient(s)</th>

            <% unless current_page?(controller: "logs", action: "open") %>
              <th>Weight</th>
              <th>Transport Type</th>
              <th>Food Type</th>
            <% end %>

            <th>Notes</th>

            <% if current_volunteer.any_admin? %>
              <th>Shift Logs Admin</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%
            @shifts.each do |shift|
              row_bgcolor =
                if shift.volunteers_needed? && !current_page?(controller: "logs", action: "open")
                 'pink'
                elsif shift.volunteers_need_training?
                  'lightgreen'
                else
                  'white'
              end
          %>
            <tr style="background: <%= row_bgcolor %>;">
              <td>
                <%= shift.when.strftime("%Y-%m-%d") %>
              </td>
              <td>
                <% if shift.schedule_chain.present? %>
                  <%= link_to schedule_chain_path(shift.schedule_chain.id), class: 'btn btn-info info' do %>
                    <i class="fa fa-info-circle"></i>
                    Info
                  <% end %>
                <% else %>
                  One-time Shift
                <% end %>
              </td>
              <td>
                <%= readable_time_until(shift.first_log) %>
              </td>
              <td>
                <% if shift.volunteers_needed? %>
                  <%= link_to take_log_path(shift.first_log, ids: shift.log_ids), class: 'btn btn-primary take' do %>
                    <i class="fa fa-hand-rock-o"></i>
                    Cover Shift
                  <% end %>
                <% else %>
                  <% shift.volunteers.each do |volunteer| %>
                    <%= link_to volunteer.name, volunteer %><br />
                  <% end %>
                  <%= render 'take_or_leave', logs: shift.logs %>
                <% end %>

                <% unless shift.absences.empty? %>
                  <small>
                    <br />
                    (normally:
                      <% shift.absences.each do |absence| %>
                        <% absence.volunteer.present? ? absence.volunteer.name : 'Volunteer Deleted' %>,
                      <% end %>
                    )
                  </small>
                <% end %>
              </td>

              <td>
                <% shift.donors.each do |donor| %>
                  <%= link_to donor.name, donor %><br />
                <% end %>
              </td>

              <td>
                <% shift.recipients.each do |recip| %>
                  <%= link_to recip.name, recip %><br />
                <% end %>
              </td>

              <% unless current_page?(controller: 'logs', action: 'open') %>
                <td>
                  <%= shift.complete? ? shift.summed_weight.round : "?" %> lbs.
                </td>
                <td>
                  <% shift.transport_types.each do |transport_type| %> <%= transport_type.name %><br />
                  <% end %>
                </td>
                <td>
                  <% shift.food_types_by_log.each do |types| %>
                    <div><%= types.map(&:name).join(", ") %></div>
                  <% end %>
                </td>
              <% end %>

              <td style="font-size: 10pt;">
                <% shift.logs.each do |shift| %>
                  <%= word_wrap(shift.notes, line_width: 20).gsub("\n","<br />").html_safe unless shift.notes.nil? %>
                  <hr />
                <% end %>
              </td>
              <% if current_volunteer.any_admin?(shift.region) %>
                <td>
                  <% shift.logs.each do |log| %>
                    <%= link_to "edit log #{log.id}", edit_log_path(log), class: 'btn btn-primary' %><br />
                   <%= link_to "delete log #{log.id}", log, class: 'btn btn-danger', confirm: "Are you sure you want to delete this shift's log?", method: :delete %><br />
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
