<h2>Schedule an Absence</h2>

You can use the form below to schedule an absence. Note that any shift occuring <strong>within the next three days</strong> cannot be deferred in this way. Instead, please contact the volunteer coordinator (and/or email list if one exists in your organization) to find a cover on short notice. Thanks!

<%= form_tag("/logs/create_absence", :method => "get") do %>
  <table class="absence_table">
    
    <% if current_volunteer.any_admin? %>
      <tr>
        <td>Volunteer:</td>
        <% if current_volunteer.super_admin? %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                  ["#{v.name} ["+v.regions.collect{ |r| r.name }.join(",")+"]",v.id] }),{:class => "select2"}) %></td>
        <% else %>
          <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.find(:all, :order => 'name').collect{ |v|
                  ((v.regions.collect{ |r| r.id } & current_volunteer.admin_region_ids).length > 0 and !v.admin) ? [v.name,v.id] : nil }.compact),{:class => "select2"}) %></td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <td>Starting On: </td>
      <td><%= select_date Time.zone.today+3, :prefix => :start_date %></td>
    </tr>
    <tr>
    	<td>Ending On: </td>
    	<td><%= select_date Time.zone.today+3, :prefix => :stop_date %></td>
    </tr>
  </table>
  <%= submit_tag %>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  //jQuery('.select2').select2({width:'element'});
});
</script>
<% end %>
