<div class="col-sm-6">
  <h2> Generate Receipts </h2>
  <%= form_tag("/logs/receipt.pdf", method: "get") do %>
    <table class="table">
      <tr>
        <td>
          <label for="location_id">Donor:</label>
        </td>
        <% if current_volunteer.super_admin? %>
          <td>
            <%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{current_volunteer.regions.collect{ |r|
                   r.id }.join(",")})").collect{ |v| [v.name,v.id] }),{class: "form-control select2"}) %>
          </td>
        <% else %>
        <td>
          <%= select_tag(:location_id, options_for_select(Location.where("region_id IN (#{@admin_region_ids.join(",")})").collect{ |l|
                  [l.name,l.id] })) %>
        </td>
        <% end %>
      </tr>
      <tr>
        <td>
          <label for="start_id">Starting On: </label>
        </td>
        <td>
          <div class="form-inline">
            <%= select_date Time.zone.today, {prefix: :start_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="stop_date">Ending On: </label>
        </td>
        <td>
          <div class="form-inline">
            <%= select_date Time.zone.today, {prefix: :stop_date, order: [:month, :day, :year]}, {class: "form-control select2"} %>
          </div>
        </td>
      </tr>
    </table>
    <%= submit_tag "Generate" %>
  <% end %>
</div>
