<h2>Schedule an Absence</h2>

<%= form_tag("/logs/create_absence", :method => "get") do %>
<table class="absence_table">
  <% if current_volunteer.admin %>
  <tr>
  <td>Volunteer:</td>
  <td><%= select_tag(:volunteer_id, options_for_select(Volunteer.all.collect{ |v| [v.name,v.id] })) %></td>
  </tr>
  <% end %>

  <tr>
    <td>Starting On: </td>
    <td><%= select_date Date.today, :prefix => :start_date %></td>
  </tr>
  <tr>
  	<td>Ending On: </td>
  	<td><%= select_date Date.today, :prefix => :stop_date %></td>
  </tr>
</table>
<%= submit_tag %>
<% end %>
