<%= form_for @region do |f| %>
<table>
<tr><td>Logo<td><%= image_tag @region.logo.url(:thumb)%>
        <%= f.file_field(:logo) %></td>
<tr><td>Short Name<td><%= f.text_field(:name) %>
<tr><td>Title<td><%= f.text_field(:title) %>
<tr><td>Tagline<td><%= f.text_field(:tagline) %>
<tr><td>Address<td><%= f.text_area(:address,:size=>"20x5") %>
<tr><td>Website<td><%= f.text_field(:website) %>
<tr><td>Phone<td><%= f.text_field(:phone) %>
<tr><td>Handbook<td><%= f.text_field(:handbook_url) %>
<tr><td>Tax ID<td><%= f.text_field(:tax_id) %>
<tr><td>Notes<td><%= f.text_area(:notes,:size=>"20x5") %>
<tr style="border-top:1px solid grey;"><td colspan=2>
<tr><td>Welcome Email Text<td><%= f.text_area(:welcome_email_text,:size=>"10x10") %>
<tr><td>Splash HTML<td><%= f.text_area(:splash_html,:size=>"10x10") %>
<!--<tr style="border-top:1px solid grey;"><td colspan=2>
<tr><td>Twitter Key<td><%= f.text_field(:twitter_key) %>
<tr><td>Twitter Secret<td><%= f.text_field(:twitter_secret) %>
<tr><td>Twitter Token<td><%= f.text_field(:twitter_token) %>
<tr><td>Twitter Token Secret<td><%= f.text_field(:twitter_token_secret) %>-->
<tr style="border-top:1px solid grey;"><td colspan=2>
<tr><td>Weight Unit<td><%= f.text_field(:weight_unit) %> (currently unused)
<tr><td>Time Zone<td><%= f.text_field(:time_zone) %> (currently unused)
</table>
<%= submit_tag %>
<% end %>
