<h2>All Regions</h2>

<div style="text-align: right;">
  <%= link_to 'New Region', new_region_url, class: 'btn btn-primary' %>
</div>

<% if @regions.empty? %>
  <p>No regions.</p>
<% else %>
  <table id="data_table">
    <thead>
      <tr>
        <th></th>
        <th>Short Name</th>
        <th>Title</th>
        <th>Address</th>
        <th>Notes</th>
        <th>Stats</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @regions.each do |region| %>
        <tr>
          <td>
            <%= region.name %>:
            <% if region.website.present? %>
              <%= link_to "website", region.website %>
            <% end %>
            <% if region.handbook_url.present? %>
              <%= link_to "handbook", region.handbook_url %>
            <% end %>
          </td>
          <td>
            <%= region.title %><%= ": #{region.tagline}" if region.tagline.present? %>
          </td>
          <td>
            <%= region.address.gsub("\n","<br>").html_safe unless region.address.nil? %>
          </td>
          <td>
            <% if region.notes.present? %>
              <small>
                <%= word_wrap(region.notes, :line_width => 30).gsub("\n","<br>").html_safe %>
              </small>
            <% end %>
          </td>
          <td>
            Completed Pickups: <%= Log.pickup_count region.id %>,
            Active Volunteers: <%= region.active_volunteer_count %>
          </td>
          <td>
            <%= link_to edit_region_url(region), class: 'btn btn-primary' do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to region_url(region), class: 'btn btn-danger', confirm: "Are you sure?", method: :delete do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function () {
      // Update the sort for the data table
      window.BFRDataTable.fnSort([[ 1, "asc" ]]);
    });
  </script>
<% end %>
