<h2>Who can Receive Food?</h2>

<p>
  <%=@region.name%> has <%=@locations.count%> places that accept food.  Places that are open right now are shown in green.  Closed places are in red.  Click any marker on the map for more details.
</p>

<div id="region-recipient-map">
  <%= gmaps4rails(@json) %>
</div>

<h2>Locations</h2>

<% @locations.each_with_index do |location, index| %>
  <%= '</div><br /><hr /><br />'.html_safe if index > 0 and index % 3 == 0 %>
  <%= '<div class="row">'.html_safe if index % 3 == 0 %>
  <div class="col-sm-4">
    <%= render partial: 'locations/details', locals: { location: location } %>
  </div>
<% end %>
