
<h2><%=@region.name%> Recipients</h2>

<p><%=@region.name%> has <%=@locations.count%> recipients.  Places that are open right now are shown in green.  Closed places are in red.  Click any marker on the map for more details.</p>

<div id="region-recipient-map">
  <%= gmaps4rails(@json) %>
</div>

<h2>Locations</h2>

<% @locations.each do |loc| %>
  <h3><%=loc.name%></h3>
  <p>
    <%=loc.address%>
  </p>
<% end %>
