<%= simple_form_for @schedule, :url => {:action => @action }, :class=>'form-horizontal' do |f| %>
  
  <%= hidden_field_tag "schedule[region_id]", @region.id %>

  <table>
   <tr><td>Frequency</td>
      <td>
      <%= f.select(:frequency, options_for_select(
          {'Weekly'=>'weekly', 'One Time'=>'one-time'})) %>
      <div id="frequency-option-weekly" class="frequency-option" style="display:none;">
          on <%= f.select(:day_of_week, Webapp::Application.config.DayOfWeek) %>
      </div>
      <div id="frequency-option-one-time" class="frequency-option" style="display:none;">
          on <%= f.date_select(:detailed_date) %>
      </div>
      <div>
          between <%= f.time_select(:detailed_start_time,:minute_step=>30, :ampm=>true) %>
          and <%= f.time_select(:detailed_stop_time,:minute_step=>30, :ampm=>true) %>
      </div>
      </td>
  </tr>
  <tr><td>Day</td>
      <td><%= f.select(:day_of_week, Webapp::Application.config.DayOfWeek) %></td>
  </tr>
    <tr>
      <td>Volunteers</td>
      <td>
        <div>
        <%= f.simple_fields_for :schedule_volunteers do |schedule_volunteer| %>
          <%= render 'schedule_volunteer_fields', :f => schedule_volunteer %>
        <% end %>
        <%= link_to_add_association 'add another volunteer', f, :schedule_volunteers, :class=>'btn' %>
        </div>
      </td>
    </tr>
		<tr><td>Locations</td>
			<td>
<table style="width: 0;"><tr><th>Location<th>Foods<th>Dropoff/Pickup?
<% @schedule.schedules.each{ |s| %>
  <%= fields_for :schedules, s, :index => "update_#{s.id}" do |f2| %>
    <tr class="schedule" style="background: <%= s.is_pickup_stop ? "green" : "blue" %>;">
    <td><%= f2.select(:location, @region.locations,{:include_blank => true}) %></td>
    <td><%= f2.select(:food_types, @region.food_types,{:include_blank => true}) %></td>
    <td><%= s.is_pickup_stop ? "Pickup" : "Dropoff" %></td>
        <%= f2.hidden_field(:id) %>
    </tr>
  <% end %>
<% } %>
<% sched = Schedule.create
<%= fields_for :schedule, sched, :index => "new_0" do |f2| %>
  <tr class="schedule">
 	<td><%= f2.select(:location, @region.locations,{:include_blank => true}) %></td>
  <td><%= f2.select(:food_types, @region.food_types,{:include_blank => true}) %></td>
	<% sched.schedule_chain_id %>
  </tr>
</table>
<% end %>
  <%=
    task = "<tr class=\"schedule\">"
    fields_for :schedule, Schedule.create, :index => "new_42" do |f2|
      task += "<td>" + f2.select(:location, @region.locations,{:include_blank => true})
      task += "<td>" + f2.select(:food_types,@region.food_types)
    end
    task += "</tr>"
    func_str = <<EOF
      var new_id = "new_" + new Date().getTime();
      $('#{ escape_javascript task }'.replace(/new_\\d+/g, new_id)).insertAfter($('.schedule').last());
EOF
    link_to_function "+ Add Another", func_str
   %>
		</td>	
    </tr>
    <!-- <tr><td>Donor</td>
        <td>%= f.select(:donor_id, @donors, {:include_blank => true},{:class => "select2"}) %></td>
    </tr>
    <tr><td>Recipient</td>
				<td>%= f.select(:recipient_id, @recipients, {:include_blank => true},{:class => "select2"}) %></td>
    </tr> -->
    <tr><td>Hilliness</td>
        <td><%= f.select(:hilliness, ScheduleChain::Hilliness.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{:class => "select2"}) %></td>
    </tr>
    <tr><td>Expected Weight<br /><span class="subtext">Typical weight observed on pickup. Current mean = <%= @schedule.mean_weight %>, max = <%= @schedule.max_weight %>.</span></td>
        <td><%= f.text_field(:expected_weight, :size => "30x6") %></td>
    </tr>
   <tr><td>Overall Difficulty</td>
        <td><%= f.select(:difficulty_rating, ScheduleChain::Difficulty.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{:class => "select2"}) %></td>
    </tr>
    <tr><td>Public Notes<br /><span class="subtext">Notes visible to everyone</span></td>
        <td><%= f.text_area(:public_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Admin Notes<br /><span class="subtext">Notes visible only to coordinators</span></td>
        <td><%= f.text_area(:admin_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Irregular/As-Needed<br /><span class="subtext">Irregular pickups happen as needed, not on a particular schedule</span></td>
        <td><%= f.check_box(:irregular) %></td>
    </tr>
    <tr><td>Backup Pick up<br /><span class="subtext">Backup pickups only occur if a given pickup is too much for the normal volunteer and needs a second pickup.</span></td>
        <td><%= f.check_box(:backup) %></td>
    </tr>
    <tr><td>Temporary Cover<br /><span class="subtext">Temporary covers will still show up in open shifts even if they have a volunteer</span></td>
        <td><%= f.check_box(:temporary) %></td>
    </tr>
    <tr><td>Scheduled Transport</td>
        <td><%= f.select(:transport_type_id, @transport_types) %>
    <%= hidden_field_tag "schedule[food_type_ids][]","" %></td>
    </tr>
    <tr><td>Food Type(s)</td><td><% FoodType.regional(@schedule.region).each{ |ft| %>
      <%= check_box_tag "schedule[food_type_ids][]", ft.id, @schedule.food_types.include?(ft) %> <%= ft.name %>
    <% } %></td>
    </tr>
  </table>

  <%= submit_tag %>

<% end %>

<% if use_detailed_hours? %>
  <% content_for :scripts do %>
    <script type="text/javascript">
    $(function(){
      $('#schedule_frequency').bind('change',function(){
        $('.frequency-option').hide();
        var selectedOption = $('#schedule_frequency').find(':selected').val();
        $('#frequency-option-'+selectedOption).show();
      });
      $('#schedule_frequency').change();
    })
    </script>
  <% end %>
<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('.select2').select2({width:'element',placeholder:'',allowClear:true});
});
</script>
<% end %>
