<%= simple_form_for @schedule, url: {action: @action }, class: 'form-horizontal' do |f| %>

  <%= hidden_field_tag "schedule_chain[region_id]", @region.id %>

  <table class="table table-striped">
    <tr>
      <td>
        <label for="schedule_chain_frequency">Frequency</label>
      </td>
      <td>
        <div class="form-inline">
          <%= f.select(:frequency, options_for_select({'Weekly'=>'weekly', 'One Time'=>'one-time'}), {}, {class: "form-control"} ) %>
          <span id="frequency-option-weekly" class="frequency-option" style="display:none;">
            on <%= f.select(:day_of_week, Date::DAYNAMES.each_with_index.to_a, { prompt: 'Unknown/varies' }, {class: "form-control"}) %>
          </span>
          <span id="frequency-option-one-time" class="frequency-option" style="display:none;">
              on <%= f.date_select(:detailed_date, {}, {class: "form-control"}) %>
          </span>
          <br />
          <br />
          <div>
              between <%= f.time_select(:detailed_start_time, {minute_step: 30, ampm: true}, {class: "form-control"}) %>
              and <%= f.time_select(:detailed_stop_time, {minute_step: 30, ampm: true}, {class: "form-control"}) %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_schedule_volunteers_attributes_0_volunteer_id">Volunteers</label>
      </td>
      <td>
        <div>
          <%= f.simple_fields_for :schedule_volunteers do |schedule_volunteer| %>
            <% if schedule_volunteer.object.active == true %>
              <%= render 'schedule_volunteer_fields', f: schedule_volunteer %>
            <% end %>
          <% end %>
          <%= link_to_add_association '<i class="fa fa-plus"></i> add another volunteer'.html_safe, f, :schedule_volunteers, class: 'btn btn-primary btn-sm' %>

          <% if @inactive_volunteers.present? %>
            <p><em>Former Volunteers:</em> <%= @inactive_volunteers.map{ |sched_vol| sched_vol.volunteer.name}.compact  %></p>
          <% end %>
        </div>
      </td>
    </tr>
    <% if current_volunteer.any_admin?(@schedule.region) %>
      <tr>
        <td>
          <label for="schedule_chain_num_volunteers">Needed Volunteers</label>
          <div class="subtext">How many volunteers does this shift need. Will be copied to all associated logs.</div>
        </td>
        <td>
          <%= f.text_field(:num_volunteers, class: "form-control") %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <label for="schedule_chain_stops">Stops</label>
      </td>
			<td>
        <div style="display:table-row;">
          <div style="display:table-cell;">Location</div>
          <div style="display:table-cell;">Order</div>
          <div style="display:table-cell;">Food Types</div>
        </div>
        <%= f.simple_fields_for :schedules do |s| %>
          <%= render 'schedule_fields', :f => s %>
        <% end %>

        <div id="add_stop_button">
          <%= link_to_add_association 'add another stop', f, :schedules, {class: 'btn', 'data-association-insertion-method' => 'before', 'data-association-insertion-node' => '#add_stop_button'} %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_hilliness">Hilliness</label>
      </td>
      <td>
        <%= f.select(:hilliness, ScheduleChain::Hilliness.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{class: "form-control"}) %>

      </td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_expected_weight">Expected Weight</label>
        <div class="subtext">
          Typical weight observed on pickup. Current mean = <%= @schedule.mean_weight.nil? ? "Unknown" : @schedule.mean_weight.round %>, max = <%= @schedule.max_weight.nil? ? "Unknown" : @schedule.max_weight.round %>.
        </div>
      </td>
      <td>
        <%= f.text_field(:expected_weight, size: "30x6", class: "form-control") %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_difficulty_rating">Overall Difficulty</label>
      </td>
      <td>
        <%= f.select(:difficulty_rating, ScheduleChain::Difficulty.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{class: "form-control"}) %>
      </td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_public_notes">Public Notes</label>
        <div class="subtext">Notes visible to everyone</div>
      </td>
        <td><%= f.text_area(:public_notes, size: "30x6", class: "form-control") %></td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_admin_notes">Admin Notes</label>
        <div class="subtext">Notes visible only to coordinators</div>
      </td>
        <td><%= f.text_area(:admin_notes, size: "30x6", class: "form-control") %></td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_irregular">Irregular/As-Needed</label>
        <div class="subtext">Irregular pickups happen as needed, not on a particular schedule</div>
      </td>
        <td><%= f.check_box(:irregular) %></td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_backup">Backup Pick-up</label>
        <div class="subtext">
          Backup pickups only occur if a given pickup is too much for the normal volunteer and needs a second pickup.
        </div>
      </td>
        <td><%= f.check_box(:backup) %></td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_temporary">Temporary Cover</label>
        <div class="subtext">Temporary covers will still show up in open shifts even if they have a volunteer</div>
      </td>
      <td><%= f.check_box(:temporary) %></td>
    </tr>
    <tr>
      <td>
        <label for="schedule_chain_transport_type_id">Scheduled Transport</label>
      </td>
        <td><%= f.select(:transport_type_id, @transport_types, {}, {class: "form-control"}) %></td>
    </tr>
    <!--<tr>
      <td>
        Food Type(s)</td><td>< FoodType.regional(@schedule.region).each{ |f
      t| %>
      <= check_box_tag "schedule[food_type_ids][]", ft.id, @schedule.food_types.include?(ft) %> <= ft.name %>
    < } %></td>
    </tr>-->
  </table>

  <%= submit_tag %>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  //$('.select2').select2({'width':'element'});
  $('#schedule_chain_frequency').bind('change',function(){
    $('.frequency-option').hide();
    var selectedOption = $('#schedule_chain_frequency').find(':selected').val();
    $('#frequency-option-'+selectedOption).show();
  });
  $('#schedule_chain_frequency').change();
});
document.activeElement.blur();
</script>
<% end %>
