<%= simple_form_for @schedule, :url => {:action => @action }, :class=>'form-horizontal' do |f| %>
  
  <%= hidden_field_tag "schedule_chain[region_id]", @region.id %>

  <table>
   <tr><td>Frequency</td>
      <td>
      <%= f.select(:frequency, options_for_select(
          {'Weekly'=>'weekly', 'One Time'=>'one-time'})) %>
      <div id="frequency-option-weekly" class="frequency-option" style="display:none;">
          on <%= f.select(:day_of_week, Webapp::Application.config.DayOfWeek) %>
      </div>
      <div id="frequency-option-one-time" class="frequency-option" style="display:none;">
          on <%= f.date_select(:detailed_date) %>
      </div>
      <div>
          between <%= f.time_select(:detailed_start_time,:minute_step=>30, :ampm=>true) %>
          and <%= f.time_select(:detailed_stop_time,:minute_step=>30, :ampm=>true) %>
      </div>
      </td>
  </tr>
    <tr>
      <td>Volunteers</td>
      <td>
        <div>
        <%= f.simple_fields_for :schedule_volunteers do |schedule_volunteer| %>
          <%= render 'schedule_volunteer_fields', :f => schedule_volunteer %>
        <% end %>
        <%= link_to_add_association 'add another volunteer', f, :schedule_volunteers, :class=>'btn' %>
        </div>
      </td>
    </tr>
		<tr>
      <td>Stops</td>
			<td>
        <table>
        <tr>
          <th>Location</th>
          <th>Order</th>
          <th>Food Types</th>
        </tr>
        <%= f.simple_fields_for :schedules do |s| %>
          <%= render 'schedule_fields', :f => s %>
        <% end %>
        </table>
        <%= link_to_add_association 'add another stop', f, :schedules, :class=>'btn' %>
    <tr><td>Hilliness</td>
        <td><%= f.select(:hilliness, ScheduleChain::Hilliness.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{:class => "select2"}) %></td>
    </tr>
    <tr><td>Expected Weight<br /><span class="subtext">Typical weight observed on pickup. Current mean = <%= @schedule.mean_weight.round %>, max = <%= @schedule.max_weight.round %>.</span></td>
        <td><%= f.text_field(:expected_weight, :size => "30x6") %></td>
    </tr>
   <tr><td>Overall Difficulty</td>
        <td><%= f.select(:difficulty_rating, ScheduleChain::Difficulty.enum_for(:each_with_index).collect{ |x,i| [x,i] },{:include_blank => true},{:class => "select2"}) %></td>
    </tr>
    <tr><td>Public Notes<br /><span class="subtext">Notes visible to everyone</span></td>
        <td><%= f.text_area(:public_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Admin Notes<br /><span class="subtext">Notes visible only to coordinators</span></td>
        <td><%= f.text_area(:admin_notes, :size => "30x6") %></td>
    </tr>
    <tr><td>Irregular/As-Needed<br /><span class="subtext">Irregular pickups happen as needed, not on a particular schedule</span></td>
        <td><%= f.check_box(:irregular) %></td>
    </tr>
    <tr><td>Backup Pick up<br /><span class="subtext">Backup pickups only occur if a given pickup is too much for the normal volunteer and needs a second pickup.</span></td>
        <td><%= f.check_box(:backup) %></td>
    </tr>
    <tr><td>Temporary Cover<br /><span class="subtext">Temporary covers will still show up in open shifts even if they have a volunteer</span></td>
        <td><%= f.check_box(:temporary) %></td>
    </tr>
    <tr><td>Scheduled Transport</td>
        <td><%= f.select(:transport_type_id, @transport_types) %></td>
    </tr>
    <!--<tr><td>Food Type(s)</td><td>< FoodType.regional(@schedule.region).each{ |ft| %>
      <= check_box_tag "schedule[food_type_ids][]", ft.id, @schedule.food_types.include?(ft) %> <= ft.name %>
    < } %></td>
    </tr>-->
  </table>

  <%= submit_tag %>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function(){
  jQuery('.select2').select2({width:'element',placeholder:'',allowClear:true});
  $('#schedule_chain_frequency').bind('change',function(){
    $('.frequency-option').hide();
    var selectedOption = $('#schedule_chain_frequency').find(':selected').val();
    $('#frequency-option-'+selectedOption).show();
  });
  $('#schedule_chain_frequency').change();
});
</script>
<% end %>
