<div class="row">

  <div class="col-sm-6">

    <h2>
      <i class='fa fa-location-arrow'></i>
      <%= if @chain.functional?
              if @chain.recipient_stops.length == 1
			    "Delivery to " + @chain.schedules.last.location.name
              else
                routename = "Deliveries to "
                @chain.recipient_stops.each do |stop|
 		              next if stop.location.nil?
                  routename += stop.location.name
                  if stop != @chain.recipient_stops.last
                    routename += ", "
                  end
                end
                routename
              end
		    else
			    "Underspecified Schedule"
		    end%></h2>

    <% unless @chain.next_pickup_time.nil? || !@chain.functional? %>
      <div class="pull-right">
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=
            <%=u "#{@chain.region.name} Food Rescue: #{(@chain.schedules.empty? || @chain.schedules.first.location.nil?) ? "Unknown" : @chain.schedules.first.location.name} -> #{(@chain.schedules.empty? || @chain.schedules.last.location.nil?) ? "Unknown" : @chain.schedules.last.location.name}" %>
            &dates=<%=u @chain.next_pickup_time[:start].utc.strftime("%Y%m%dT%H%M%SZ") %>/<%=u @chain.next_pickup_time[:stop].utc.strftime("%Y%m%dT%H%M%SZ") %>&details=<%=u @chain.public_notes%>&location=<%=u @chain.schedules.first.location.address%>&trp=true&sprop=http%3A%2F%2Fboulderfoodrescue.org&sprop=name:Boulder%20Food%20Rescue" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button6.gif" border=0></a>
      </div>
    <% end %>

    <p>
      <%= readable_pickup_timespan @chain %>
      <% unless @chain.next_pickup_time.nil? %>
        (next pickup <%= @chain.next_pickup_time[:start].to_s(:long_ordinal) %>)
      <% end %>
      .
    </p>

    <% unless @chain.public_notes.nil? || @chain.public_notes.strip == "" %>
      <p><b>Notes:</b> <%= word_wrap(@chain.public_notes,:line_width => 80).gsub("\n","<br>").html_safe %></p>
    <% end %>

    <% unless @chain.expected_weight.nil? || @chain.max_weight.nil? || @chain.mean_weight.nil? %>
      <p><b>Expected Weight:</b> <%= @chain.expected_weight %> <em>(current mean = <%= @chain.mean_weight.round %>, max = <%= @chain.max_weight.round %>)</em></p>
    <% end %>

    <% unless @chain.hilliness.nil? %>
      <p><b>Hilliness:</b> <%= ScheduleChain::HILLINESS_OPTIONS[@chain.hilliness] %></p>
    <% end %>

    <% unless @chain.difficulty_rating.nil? %>
      <p><b>Overall Difficulty:</b> <%= ScheduleChain::DIFFICULTY_OPTIONS[@chain.difficulty_rating] %></p>
    <% end %>

    <h3>
      <i class="fa fa-users"></i>
      Current Volunteers
    </h3>
    <p>
      <% if @chain.volunteers.count == 0 %>
        No volunteers yet...
        <%= link_to take_schedule_chains_path(id: @chain), confirm: "Are you sure you want to sign up for this weekly pickup?", class: 'btn btn-primary' do %>
          <i class="fa fa-hand-rock-o"></i>
          <strong>Signup for this <u>weekly</u> pickup now!</strong>
        <% end %>

      <% else %>
        <ul>
          <% @chain.volunteers.each do |volunteer| %>
            <li><%= link_to volunteer.name, "mailto:#{volunteer.email}" %><%= volunteer.phone.nil? ? "" : ": #{volunteer.phone}" %></li>
          <% end %>
        </ul>
      <% end %>
    </p>

    <% unless @sorted_related_shifts.empty? %>
      <h3>Other Shifts at this Donor</h3>
      <ul>
        <% @sorted_related_shifts.each{ |shift|
          next if(shift.schedule_chain.nil? || shift.schedule_chain.volunteers.empty?)
        %>
          <li>
            <% if shift.schedule_chain.day_of_week.present? %>
              <p>
                <strong>
                  <%= Date::DAYNAMES[shift.schedule_chain.day_of_week] %>
                </strong>
              </p>
            <% else %>
              <p>
                <strong>Unknown/Varies.</strong>
              </p>
              <p>Day of Week is empty for Shift <%= shift.id %> for <%= link_to "schedule chain #{shift.schedule_chain.id}", edit_schedule_chain_path('schedule chain') %>, this may be incorrect. Email volunteer or your region admin if you're concerned.</p>
            <% end %>
            <ul>
              <% shift.schedule_chain.volunteers.each do |volunteer| %>
                <li><%= link_to volunteer.name, "mailto:#{volunteer.email}" %><%= volunteer.phone.nil? ? "" : ": #{volunteer.phone}" %></li>
              <% end %>
            </ul>
          </li>
        <% } %>
      </ul>
    <% end %>
  </div>

  <div class="col-sm-6">
    <% if @chain.mappable? %>
      <h2>
        <i class='fa fa-bicycle'></i>
        Bicycling Directions
      </h2><br/>
      <iframe width="600" height="450"frameborder="0" style="border: 0;" src=<%= @embed_request_url %>></iframe>
      <div><em>NOTE: This may not include ALL stops if a stop has an invalid address.</em></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <% if @chain.functional? %>
      <h3>Stops:</h3>
      <p>
  	  <% @chain.schedules.each do |stop|
        next if stop.nil? || stop.location.nil? %>

        <div class="col-sm-6">
          <div class="well">
            <h4>
              <i class='fa fa-building'></i>
              <%= stop.location.name %> <%= stop.pickup_stop? ? " (Donor)" : "(Recipient)" %>
            </h4>
            <blockquote>
              <i class='fa fa-map-marker'></i>
              <%= stop.location.address %>
            </blockquote>

            <% unless stop.location.entry_info.blank? %>
                <p><strong>Entry:</strong> <%= stop.location.entry_info.gsub("\n","<br />").html_safe %></p>
            <% end %>

            <% unless stop.location.equipment_storage_info.blank? %>
                <p><strong>Equipment:</strong> <%= stop.location.equipment_storage_info.gsub("\n","<br>").html_safe %></p>
            <% end %>

            <% unless stop.location.food_storage_info.blank? %>
                <p><strong>Food:</strong> <%= stop.location.food_storage_info.gsub("\n","<br>").html_safe %></p>
            <% end %>

            <% unless stop.location.onsite_contact_info.blank? %>
                <p><strong>Contact:</strong> <%= stop.location.onsite_contact_info.gsub("\n","<br>").html_safe %></p>
            <% end %>

            <% unless stop.location.exit_info.blank? %>
                <p><strong>Exit:</strong> <%= stop.location.exit_info.gsub("\n","<br>").html_safe %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
