<h3><%=loc.name%></h3>

<% if loc.open? %>
  <b style="font-variant:small-caps;">( open now )</b><br />
<% end %>

<%= loc.contact %>
<br />

<%= loc.phone %>
<br />

<%= loc.address %>
<br />

<% unless loc.website.nil? %>
  <a target="_new" href="<%=loc.website%>">website</a>
  <br />
<% end %>

<small>
  <%= readable_hours loc %>
</small>
