<div class="well">
  <h3>
    <%= location.name %>
  </h3>

  <% if location.open? %>
    <b style="font-variant:small-caps;">( open now )</b><br />
  <% end %>

  <p>
    <%= location.contact %>
  </p>

  <% if location.phone.present? %>
    <p>
      <strong>Phone:</strong>
      <%= location.phone %>
    </p>
  <% end %>


  <p>
    <%= location.address.gsub(",", ",<br />").html_safe %>
  </p>


  <% unless location.website.nil? %>
    <p>
      <a target="_new" href="<%=location.website%>" class="btn btn-primary">
        <%= location.name %> Website
        <i class='fa fa-external-link'></i>
      </a>
    </p>
  <% end %>

  <strong>
    <%= readable_hours(location) %>
  </strong>
</div>
