<%= form_for @location, :url => {:action => @action } do |f| %>

<%= hidden_field_tag "location[region_id]", @location.region_id %>

<%= hidden_field_tag "location[is_donor]", @location.is_donor %>

<table>
  <tr><td>Name</td>
      <td><%= f.text_field(:name) %></td>
  </tr>
  <tr><td>Address</td>
      <td><%= f.text_area(:address, :size => "30x6") %></td>
  </tr>
  <tr><td>Contact Info</td>
      <td><%= f.text_area(:contact, :size => "30x6") %></td>
  </tr>
  <tr><td>Website<br><span class="subtext">e.g., http://luckysmarket.com/</span></td>
      <td><%= f.text_field(:website) %></td>
  </tr>
  <tr><td>Twitter Handle<br><span class="subtext">e.g., IdealMarket</span></td>
      <td><%= f.text_field(:twitter_handle) %></td>
  </tr>
  <tr><td>Hours</td>
      <td><%= f.text_area(:hours, :size => "30x6") %></td>
  </tr>
  <% if @location.is_donor %>
    <tr><td>Type</td>
        <td><%= f.select(:donor_type, [["Grocer","Grocer"],["Bakery","Bakery"],["Caterer","Caterer"],["Restaurant","Restaurant"],["Cafeteria","Cafeteria"],["Cafe","Cafe"],["Market","Market"],["Farm","Farm"],["Community Garden","Community Garden"],["Individual","Individual"],["Other","Other"]],{:include_blank => true}) %></td>
    </tr>
  <% else %>
    <tr><td>Category</td>
        <td><%= f.select(:recip_category, [["A","A"],["B","B"],["C","C"],["D","D"]],{:include_blank => true}) %></td>      
    </tr>
  <% end %>
  <tr><td>Public Notes</td>
      <td><%= f.text_area(:public_notes, :size => "30x6") %></td>
  </tr>
  <tr><td>Admin Notes</td>
      <td><%= f.text_area(:admin_notes, :size => "30x6") %></td>
  </tr>
  <tr><td>Receipt Key<br><span class="subtext">i.e., a random password donors will use to login</span></td>
      <td><%= f.text_field(:receipt_key) %></td>
  </tr>
</table>

<%= submit_tag %>

<% end %>
