<%= form_for @location, :url => {:action => @action } do |f| %>

<%= hidden_field_tag "location[region_id]", @location.region_id %>

<%= hidden_field_tag "location[is_donor]", @location.is_donor %>

<table>

  <tr><td colspan=2 style="border-bottom: 1px solid black;">
    <span style="font-weight: bold; font-size: 12pt;">General Information</span>
  </td></tr>

  <tr><td width="300px">Name</td>
      <td><%= f.text_field(:name) %></td>
  </tr>

  <tr><td>Address</td>
      <td><%= f.text_area(:address, :size => "30x6") %></td>
  </tr>

  <tr><td>Email</td>
      <td><%= f.text_field(:email) %></td>
  </tr>

  <tr><td>Phone</td>
      <td><%= f.text_field(:phone) %></td>
  </tr>

  <tr><td>Contact Info</td>
      <td><%= f.text_area(:contact, :size => "30x6") %></td>
  </tr>

  <tr><td>Website<br><span class="subtext">e.g., http://luckysmarket.com/</span></td>
      <td><%= f.text_field(:website) %></td>
  </tr>

  <tr><td>Twitter Handle<br><span class="subtext">e.g., IdealMarket</span></td>
      <td><%= f.text_field(:twitter_handle) %></td>
  </tr>

  <tr>
    <td>Hours
      <small>
        <% if @location.is_donor %>
          for <em>pickup</em> at this donor
        <% else %>
          for <em>dropoff</em> at this recipient
        <% end %>
      </small>
    </td>
      <td>
      <% Date::DAYNAMES.each_with_index do |day_name, index| 
          day_html_prefix = "day"+index.to_s
      %>
        <div id="<%=day_html_prefix%>" data-day="<%=index%>" class="day-wrapper">
          <%=day_name%>: 
          <%=select_tag( day_html_prefix+"[status]", options_for_select([["closed",0],["open",1]], 
            @location.read_day_info(day_html_prefix+"_status")) )%>
          <span id="<%=day_html_prefix%>-times">
            from 
            <%= select_time @location.read_day_info(day_html_prefix+"_start"),:minute_step=>30, :ampm=>true, :prefix=>day_html_prefix+"[start]" %>
            to 
            <%= select_time @location.read_day_info(day_html_prefix+"_end"),:minute_step=>30, :ampm=>true, :prefix=>day_html_prefix+"[end]" %>
          </span>
        </div>
      <% end %>
      </td>
  </tr>

  <tr>
  <% if @location.is_donor %>
    <td>Type</td>
    <td><%= f.select(:donor_type, [["Grocer","Grocer"],["Bakery","Bakery"],["Caterer","Caterer"],["Restaurant","Restaurant"],["Cafeteria","Cafeteria"],["Cafe","Cafe"],["Market","Market"],["Farm","Farm"],["Community Garden","Community Garden"],["Individual","Individual"],["Other","Other"]],{:include_blank => true}) %></td>
  <% else %>
    <td>Category</td>
    <td><%= f.select(:recip_category, [["A","A"],["B","B"],["C","C"],["D","D"]],{:include_blank => true}) %></td>      
  <% end %>
  </tr>

  <tr><td>Receipt/HUD Key<br><span class="subtext">A random password donors will use to login</span></td>
      <td><%= f.text_field(:receipt_key) %></td>
  </tr>

  <tr><td colspan=2 style="border-bottom: 1px solid black;">
    <span style="font-weight: bold; font-size: 12pt;">Pickup/Drop Logistics</span>
  </td></tr>

  <tr><td>Equipment Info<br><span class="subtext">If applicable, where our equipment is stored and how to get/use it.</span></td>
      <td><%= f.text_area(:equipment_storage_info, :size => "30x3") %></td>
  </tr>

  <tr><td>Entry Info<br><span class="subtext">How to enter the location</span></td>
      <td><%= f.text_area(:entry_info, :size => "30x3") %></td>
  </tr>

  <tr><td>Onsite Contact Info<br><span class="subtext">Who to ask for help when on-site</span></td>
      <td><%= f.text_area(:onsite_contact_info, :size => "30x3") %></td>
  </tr>

  <tr><td>Food Storage Info<br><span class="subtext">If applicable, where food is stored and how to get it.</span></td>
      <td><%= f.text_area(:food_storage_info, :size => "30x3") %></td>
  </tr>

  <tr><td>Exit Info<br><span class="subtext">How to exit the location (if different from entry)</span></td>
      <td><%= f.text_area(:exit_info, :size => "30x3") %></td>
  </tr>

  <tr><td>Aggregation/Hub<br><span class="subtext">Is this location a warehouse, sorting facility, or aggregation hub? Important to avoid double counting.</span></td>
    <td><%= f.check_box(:is_hub) %></td>
  </tr>

  <tr><td colspan=2 style="border-bottom: 1px solid black;">
    <span style="font-weight: bold; font-size: 12pt;">Additional Notes</span>
  </td></tr>

  <tr><td>Public Notes<br><span class="subtext">Other information and notes visible to everyone</span></td>
      <td><%= f.text_area(:public_notes, :size => "30x3") %></td>
  </tr>

  <tr><td>Admin Notes<br><span class="subtext">Other information and notes visible only to coordinators</span></td>
      <td><%= f.text_area(:admin_notes, :size => "30x3") %></td>
  </tr>

</table>

<%= submit_tag %>

<% end %>

<% content_for :scripts do %>
<script type="text/javascript">
$(function(){
  $('.day-wrapper').each(function(idx,el){
    var day = $(el).attr('data-day');
    var statusSelect = $('#day'+day+'_status');
    statusSelect.bind('change',function(){
      var dayIndex = $(this).parent().attr('data-day');
      var timesWrapper = $('#day'+dayIndex+"-times");
      if ($(this).find(':selected').val()==0) {
        timesWrapper.hide();
      } else {
        timesWrapper.show();
      }
    })
    statusSelect.change();
  });
})
</script>
<% end %>