<h2><%= @location.name %> Schedule</h2>

<% unless @location.receipt_key.nil? %>
<br>Permanent link to this page: <%= link_to "click here", hud_location_path(@location, key: @location.receipt_key) %><br>
<% end %>

<table>
  <thead>
  <tr>
    <th> Day of Week</th>
    <th> Volunteer </th>
    <th> Start Time </th>
    <th> End Time </th>
    <th> Transport </th>
    <th> Food Types </th>
  </tr>
  </thead>
  <tbody>
  <% days_of_week = [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ] %>
  <%
  @schedules.compact.each do |schedule|
  %>
  <tr>
    <td> <%= schedule.day_of_week.nil? ? "Unknown" : days_of_week[schedule.day_of_week] %> </td>
    <td> <%= schedule.volunteers.empty? ? "Unknown" : schedule.volunteers.collect{ |v| v.name }.join(", ") %>
    <td> <%= readable_start_time schedule %> </td>
    <td> <%= readable_stop_time schedule %> </td>
    <td> <%= schedule.transport_type.nil? ? "?" : schedule.transport_type.name %>
    <td> <%= schedule.food_types.collect{ |ft| ft.name }.join(", ") %>
  </tr>
  <% end %>
  </tbody>
</table>

<h2><%= @location.is_donor ? "Pick Up" : "Delivery" %> Log</h2>
<br>
Total poundage: <%= @logs.collect{ |l| l.summed_weight }.compact.reduce(:+) %><br><br>


<table id="data_table">
  <thead>
  <tr>
    <th> When </th>
    <th> Volunteer </th>
    <% unless @location.is_donor %><th> Donor </th><% end %>
    <th> Weight </th>
    <th> Transport Type </th>
    <th> Food Type </th>
  </tr>
  </thead>
  <tbody>
  <%
  @logs.each do |shift|
  %>
  <tr>
    <td> <%= shift.when %> </td>
    <td> <%= shift.volunteers.empty? ? "Unknown" : shift.volunteers.collect{ |v| v.name }.join(" and ") %>
    <% unless @location.is_donor %><td> <%= shift.donor.nil? ? "Unknown" : shift.donor.name %><% end %>
    <td> <%= shift.weight_sum %> </td>
    <td> <%= shift.transport_type.name unless shift.transport_type.nil? %>
    <td> <%= shift.log_parts.collect{ |lp| (!lp.food_type.nil? and !lp.weight.nil? and lp.weight > 0) ? "#{lp.food_type.name} (#{lp.weight} lb)" : nil }.compact.join(", ") %>
  </tr>
  <% end %>
  </tbody>
</table>

<% content_for :scripts do %>
<script type="text/javascript">
$(function () {
  // Update the sort for the data table
  window.BFRDataTable.fnSort([[ 0, "desc" ]]);
});
</script>
<% end %>
