<h2><%=@header%></h2>

<% if current_volunteer.any_admin? %>
  <div style="text-align: right;">
    <%= form_tag("/locations/new", :method => "get") do %>
      New Location For <%= select_tag(:region_id, options_for_select(@my_admin_regions.collect{ |r| [r.name,r.id] })) %>
      <%= submit_tag("Go") %>
    <% end %>
  </div>
<% end %>

<% if @locations.length == 0 %>

  <p>No locations.</p>

<% else %>

  <table id="data_table">

    <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Contact Info </th>
        <th> Hours </th>
        <th> Type </th>
        <th> Notes </th>
        <% if current_volunteer.any_admin? %>
          <th> Admin Notes </th>
          <th> Link </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
    <% @locations.each do |loc| %>
      <tr>
        <td>
          <%= loc.name.nil? ? loc.name : (link_to loc.name, loc) %>
          <% unless loc.website.nil? %>
            <%= link_to "(website)", loc.website %>
          <% end %>
        </td>
        <td> <%= loc.address.gsub("\n","<br />").html_safe unless loc.address.nil? %></td>
        <td>
          <%= loc.contact.gsub("\n","<br />").html_safe unless loc.contact.nil? %>
          <%= "<br />".html_safe+loc.phone unless loc.phone.nil? %>
          <%= "<br />".html_safe+loc.email unless loc.email.nil? %>
        </td>
        <td><%= readable_hours loc %></td>
        <td> <%= loc.donor? ? loc.donor_type : loc.recip_category %>
        <td><small><%= word_wrap(loc.public_notes,:line_width => 30).gsub("\n","<br />").html_safe unless loc.public_notes.nil? %></small></td>
        <% if current_volunteer.any_admin? %>
          <td><small><%= word_wrap(loc.admin_notes,:line_width => 30).gsub("\n","<br />").html_safe unless loc.admin_notes.nil? or !(current_volunteer.any_admin?) %></small></td>
          <td>
            <% unless loc.receipt_key.nil?%>
              <%= link_to hud_location_path(loc, key: loc.receipt_key), class: 'btn btn-info' do %>
                <i class="fa fa-info-circle"></i>
                hud
              <% end %>
              <br />
              <br />
            <% end %>
            <%= link_to edit_location_path(loc), class: 'btn btn-primary' do %>
              <i class="fa fa-pencil"></i>
              edit
            <% end %><br /><br />
            <%= link_to loc, confirm: "Are you sure?", method: :delete, class: 'btn btn-danger' do %>
              <i class="fa fa-trash-o"></i>
              delete
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>

  </table>

<% end %>
