<h2><%= @loc.name %></h2>
<%= gmaps("markers" => { "data" => @json },"map_options" => {"processing" => "json", "auto_zoom" => false, "zoom" => 14}) %>
<br><br>
<%= @loc.address.gsub("\n","<br>").html_safe unless @loc.address.nil? %><br>
<% unless @loc.website.nil? %><a href="<%= @loc.website %>"><%= @loc.website %></a><% else %><%= @loc.name %><% end %>
<br><br>
<%= @loc.contact.gsub("\n","<br>").html_safe unless @loc.contact.nil? %>
<br><br>
<%= readable_hours @loc %>
<br><br>
<%= @loc.public_notes.gsub("\n","<br>").html_safe unless @loc.public_notes.nil? %>
<br><br>
<%= @loc.admin_notes.gsub("\n","<br>").html_safe unless @loc.admin_notes.nil? or !(current_volunteer.region_admin? @loc.region or current_volunteer.super_admin?) %>
