<h2><%= @loc.name %></h2>

<%= @loc.address.gsub("\n","<br>").html_safe unless @loc.address.nil? %><br>
<% unless @loc.website.nil? %><a href="<%= @loc.website %>"><%= @loc.website %></a><% else %><%= @loc.name %><% end %>
<br><br>
<%= @loc.contact.gsub("\n","<br>").html_safe unless @loc.contact.nil? %>
<br><br>
<%= @loc.hours.gsub("\n","<br>").html_safe unless @loc.hours.nil? %>
<br><br>
<%= @loc.public_notes.gsub("\n","<br>").html_safe unless @loc.public_notes.nil? %>
<br><br>
<%= @loc.admin_notes.gsub("\n","<br>").html_safe unless @loc.admin_notes.nil? or !(current_volunteer.region_admin? @loc.region or current_volunteer.super_admin?) %>
