<h1> Availability form</h1>
 <%= form_for [@volunteer, @availability] do |f| =%>
   <%= fields_for :availabilities do |ff| %>
   <div>
     <table width="80%" id = "table_of_availabilities">
       <tr>
         <td scope="col">Time of Day</td>
         <th scope="col">Monday</th>
         <th scope="col">Tuesday</th>
         <th scope="col">Wednesday</th>
         <th scope="col">Thursday</th>
         <th scope="col">Friday</th>
         <th scope="col">Saturday</th>
         <th scope="col">Sunday</th>
       </tr>
       <tr>
         <th scope="row">Mornings</th>
         <td><%= ff.label_tag 'Monday' =%>
             <%= ff.check_box_tag 'availability[]', value: 'Monday_morning', name: 'Monday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Tuesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Tuesday_morning', name: 'Tuesday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Wednesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Wednesday_morning', name: 'Wednesday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Thursday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Thursday_morning', name: 'Thursday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Friday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Friday_morning', name: 'Friday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Saturday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Saturday_morning', name: 'Saturday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Sunday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Sunday_morning', name: 'Sunday' =%>
         </td>
       </tr>
       <tr>
         <th scope="row">Afternoon</th>
         <td><%= ff.label_tag 'Monday' =%>
             <%= ff.check_box_tag 'availability[]', value: 'Monday_afternoon', name: 'Monday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Tuesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Tueday_afternoon', name: 'Tueday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Wednesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Wednesday_afternoon', name: 'Wednesday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Thursday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Thursday_afternoon', name: 'Thursday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Friday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Friday_afternoon', name: 'Friday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Saturday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Saturday_afternoon', name: 'Saturday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Sunday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Sunday_afternoon', name: 'Sunday' =%>
         </td>
       </tr>
       <tr>
         <th scope="row">Evenings</th>
         <td><%= ff.label_tag 'Monday' =%>
             <%= ff.check_box_tag 'availability[]', value: 'Monday_evening', name: 'Monday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Tuesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Tueday_evening', name: 'Tueday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Wednesday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Wednesday_evening', name: 'Wednesday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Thursday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Thursday_evening', name: 'Thursday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Friday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Friday_evening', name: 'Friday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Saturday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Saturday_evening', name: 'Saturday' =%>
         </td>
         <td>
           <%= ff.label_tag 'Sunday' =%>
           <%= ff.check_box_tag 'availability[]', value: 'Sunday_evening', name: 'Sunday' =%>
         </td>
       </tr>
       <tr>
             <%= ff.submit =%>
         </tr>
     </tr>
   <% end %>
 <% end %>
   </div>
