<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Webapp" %></title>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag :application, media: "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.png', :rel => 'shortcut icon' %>
  </head>

  <body>

    <%= navbar container: 'fluid' do %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          The Food Rescue Robot
        </a>
      </div>

      <%= navbar_collapse do %>
        <%= navbar_group do %>
          <%= navbar_item "Home", root_path %>

          <% if volunteer_signed_in? %>

            <%= navbar_dropdown "Take Shifts" do %>
              <%= navbar_item "One-Time Shifts", open_logs_path %>
              <%= navbar_item "Recurring Shifts", open_schedule_chains_path %>
            <% end %>

            <%= navbar_dropdown "Your Shifts" do %>
              <%= navbar_item "Regular Shifts", mine_schedule_chains_path %>
              <%= navbar_item "Upcoming Shifts", mine_upcoming_logs_path %>
              <%= navbar_item "Past Shifts", mine_past_logs_path %>
              <%= navbar_item "Schedule An Absence", new_absence_path %>
              <%= navbar_item "Your Absences", absences_path %>
            <% end %>

            <%= navbar_dropdown "Volunteers" do %>
              <% if current_volunteer.any_admin? %>
                <%= navbar_item "Active (90 days)", active_volunteers_path %>
                <%= navbar_item "Shiftless", shiftless_volunteers_path %>
                <%= navbar_item "Need Training", need_training_volunteers_path %>
                <%= navbar_item "Unassigned", unassigned_volunteers_path %>
                <%= navbar_item "Inactive (Deleted)", inactive_volunteers_path %>
                <%= navbar_item "Full List", volunteers_path %>
                <%= navbar_item "Stats+Charts", stats_volunteers_path %>
              <% else %>
                <%= navbar_item "Contact List", active_volunteers_path %>
              <% end %>
            <% end %>

            <% if current_volunteer.any_admin? %>

              <%= navbar_dropdown "Schedule" do %>
                <%= navbar_item "Full Schedule", schedule_chains_path %>
                <%= navbar_item "Yesterday", yesterday_schedule_chains_path %>
                <%= navbar_item "Today", today_schedule_chains_path %>
                <%= navbar_item "Tomorrow", tomorrow_schedule_chains_path %>
              <% end %>

              <%= navbar_dropdown "Rescue Log" do %>
                <%= navbar_item "Last 10 Days", last_ten_logs_path %>
                <%= navbar_item "Yesterday", by_day_logs_path(:n => -1) %>
                <%= navbar_item "Today", by_day_logs_path(:n => 0) %>
                <%= navbar_item "Tomorrow", by_day_logs_path(:n => 1) %>
                <%= navbar_item (Date.today+2).strftime("%A"), by_day_logs_path(:n => 2) %>
                <%= navbar_item (Date.today+3).strftime("%A"), by_day_logs_path(:n => 3) %>
                <%= navbar_item "Tardy", tardy_logs_path %>
                <%= navbar_item "Being Covered", being_covered_logs_path %>
                <%= navbar_item "Stats+Charts", stats_logs_path %>
              <% end %>

              <%= navbar_dropdown "Region Admin" do %>
                <%= navbar_item "Donors", donors_locations_path %>
                <%= navbar_item "Recipients", recipients_locations_path %>
                <% if current_volunteer.main_region.has_sellers? %>
                  <%= navbar_item "Sellers", sellers_locations_path %>
                <% end %>
                <% if current_volunteer.main_region.has_buyers? %>
                  <%= navbar_item "Buyers", buyers_locations_path %>
                <% end %>
                <% if current_volunteer.main_region.has_hubs? %>
                  <%= navbar_item "Hubs", hubs_locations_path %>
                <% end %>
                <%= navbar_item "Food Types", '/food_types' %>
  	      			<%= navbar_item "Scale Types", '/scale_types' %>
                <%= navbar_item "Controls", '/volunteers/region_admin' %>
                <%= navbar_item "Absences", all_absences_path %>
                <% if not current_volunteer.super_admin? %>
                  <% current_volunteer.admin_regions(true).each do |r| %>
                    <%= navbar_item"Settings (#{r.name})", edit_region_path(r) %>
                  <% end %>
                <% end %>
              <% end %>

              <% if current_volunteer.super_admin? %>
                <%= navbar_dropdown "Super Admin" do %>
                  <%= navbar_item "Cell Carriers", cell_carriers_path %>
                  <%= navbar_item "Manage Regions", regions_path %>
                  <!-- <%= navbar_item "Transport Types", transport_types_path %> -->
                  <%= navbar_item "Controls", '/volunteers/super_admin' %>
                <% end %>
              <% end %>

            <% end # if signed in %>

          <% end # menu group %>

          <%= navbar_group :pull => :right do %>
            <% if volunteer_signed_in? %>
              <%= navbar_dropdown current_volunteer.name  do %>
                <% current_volunteer.regions.each do |region| %>
                  <%= navbar_item region.name+" Handbook", region.handbook_url if region.has_handbook? %>
                <% end %>
                <%= navbar_item "Settings", edit_volunteer_path(current_volunteer.id) %>
                <%= navbar_item "Waiver", waiver_volunteers_path %>
                <%= navbar_item "Logout", destroy_volunteer_session_path, {}, {:"data-method" => :delete } %>
              <% end %>
            <% else %>
              <%= navbar_item "Login", '/volunteers/sign_in' %>
            <% end %>
          <% end %>

        <% end %>

      <% end %>

    <% end %>

    <!-- header -->
    <% if @region or (volunteer_signed_in? and current_volunteer.has_main_region?) %>
      <div class="subhead">
        <div class="container-fluid">
          <div class="page-header">
            <% current_region = (volunteer_signed_in?) ? current_volunteer.main_region : @region %>
            <h1><%= current_region.title %> <small><%= current_region.tagline %></small></h1>
          </div>
        </div>
      </div>
    <% end %>

    <!-- content -->
    <div class="container-fluid">

      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer style="text-align: center;">
        <hr>
        <p>Food Rescue Robot (cc) <a href="http://boulderfoodrescue.org">Boulder Food Rescue</a> | <a href="http://github.com/somerandomsequence/food-rescue-robot">Source Code</a></p>

      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>

  </body>

</html>
