<!DOCTYPE html>
<html>
<head>
  <title>BFR Webapp</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag    "active_scaffold", "common", "main", "navigation", "home", "gmaps4rails", :media => "all" %>
  <%= yield :scripts %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :highcharts  %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <div class="navigation">
    <div id="cssmenu">
      <% if volunteer_signed_in? %>
        <li class='active '>
          <a href="/home/hello" class="<%= "selected" if request.fullpath == mine_schedules_path  || request.fullpath == '/' %>">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href=<%= mine_schedules_path %> class="<%= "selected" if request.fullpath == mine_schedules_path  || request.fullpath == '/' %>">
            <span>My Schedule</span>
          </a>
        </li>
        <li class="has-sub">
          <a href=<%= mine_logs_path %> class="<%= "selected" if request.fullpath == mine_logs_path %>">
            <span>Shifts</span>
          </a>
          <ul>
            <li>
              <a href=<%= mine_logs_path %> class="<%= "selected" if request.fullpath == mine_logs_path %>">
                <span>My Shifts</span>
              </a>
            </li>
            <li>
              <a href=<%= open_logs_path %> class="<%= "selected" if request.fullpath == open_logs_path %>">
                <span>Cover Shifts</span>
              </a>
            </li>
            <li>
              <a href=<%= new_absence_logs_path %> class="<%= "selected" if request.fullpath == new_absence_logs_path %>">
                <span>Schedule Absence</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href=<%= volunteers_path %> class="<%= "selected" if request.fullpath == volunteers_path %>">
            <span>Volunteers</span>
          </a>
        </li>
      <% end %>
      <% if volunteer_signed_in? and current_volunteer.admin %>
        <li class='has-sub '>
          <a href='#'><span>Administration</span></a>
		  <ul>
		    <li>
		      <a href=<%= schedules_path %> class="<%= "selected" if request.fullpath == schedules_path %>">
		        <span>Full Schedule</span>
		      </a>
		    </li>
		    <li>
		      <a href=<%= locations_path %> class="<%= "selected" if request.fullpath == locations_path %>">
		        <span>Donors & Recipients</span>
		      </a>
		    </li>
		    <li>
		      <a href=<%= logs_path %> class="<%= "selected" if request.fullpath == logs_path %>">
		        <span>Rescue Log</span>
		      </a>
		    </li>
		  </ul>
        </li>
      <% end %>
      <% if volunteer_signed_in? %>
        <li id="user_controls" class="has-sub">
          <a href="#">
          	<span><%= current_volunteer.name%></span>
          </a>
          <ul>
            <li>
          	  <%= link_to('Settings', edit_volunteer_registration_path) %>
           </li>
           <li>
          	  <%= link_to('Logout', destroy_volunteer_session_path, :method => :delete) %>
           </li>
          </ul>
        </li>
    <% end %>
    </div>
  </div>
  <div class="header">
    <div>
      <h2 id="bfr_title">Boulder Food Rescue</h2>
      <h3>Sustainable Just-In-Time Food Rescue in Boulder, Colorado</h3>
    </div>  
    <%= link_to image_tag("logo.png", :class => 'logo_image')%>
  </div>
  <div class="wrap">    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  
  <div class="footer">
    <p>Copyright © <a href="http://www.boulderfoodrescue.org">Boulder Food Rescue</a> 2012</p>
  </div>
  </div>
</body>
</html>
