<!DOCTYPE html>
<html>
<head>
  <title>Webapp</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "active_scaffold", "common", "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
    <div class="nav_sections">
      <% if volunteer_signed_in? %>
        <a href=<%= mine_schedules_path %> class="<%= "selected" if request.url.include? mine_schedules_path %>">My Schedule</a>
        <a href=<%= mine_logs_path %> class="<%= "selected" if request.url.include? mine_logs_path %>">My Shifts</a>
        <a href=<%= open_logs_path %> class="<%= "selected" if request.url.include? open_logs_path %>">Cover Shifts</a>
        <a href=<%= new_absence_logs_path %> class="<%= "selected" if request.url.include? new_absence_logs_path %>">Schedule Absence</a>
        <a href=<%= volunteers_path %> class="<%= "selected" if request.url.include? volunteers_path %>">Volunteers</a>
        <%= link_to('Settings', edit_volunteer_registration_path) %>
      <% end %>
      <% if volunteer_signed_in? and current_volunteer.admin %>
        <a href=<%= schedules_path %> class="<%= "selected" if request.url.include? schedules_path %>">Schedule</a>
        <a href=<%= volunteers_path %> class="<%= "selected" if request.url.include? volunteers_path %>">Volunteers</a>
        <a href=<%= locations_path %> class="<%= "selected" if request.url.include? locations_path %>">onors/Recipients</a>
        <a href=<%= logs_path %> class="<%= "selected" if request.url.include? logs_path %>">Rescue Log</a>
        <a href=<%= volunteers_path %> class="<%= "selected" if request.url.include? volunteers_path %>">Rescue Log</a>
      <% end %>
    </div>
    <div class="nav_user">
      <% if volunteer_signed_in? %>
        <p><%= current_volunteer.name%> : </p>
        <%= link_to('Logout', destroy_volunteer_session_path, :method => :delete) %>
      <% end %>
    </div>
  </div>
  <div class="header">
    <div>
      <h2 id="bfr_title">Boulder Food Rescue</h2>
      <h3>Sustainable Just-In-Time Food Rescue in Boulder, Colorado</h3>
    </div>  
    <%= link_to image_tag("logo.png", :class => 'logo_image')%>
  </div>
  <div class="wrap">    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  
  <div class="footer">
    <p>Copyright © <a href="http:www.boulderfoodrescue.org">Boulder Food Rescue 2012</a></p>
  </div>
</body>
</html>
