<!DOCTYPE html>
<html>
<head>
  <title>The Food Rescue Robot</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
    <div>
      <h2 id="bfr_title">The Food Rescue Robot</h2>
      <h3>Just-in-Time Food Rescue Tracking</h3>
    </div>  
    <%= link_to image_tag("logo.png", :class => 'logo_image')%>
    </div>
    <div class="wrap">
    <div class="info_section">
      <h2 class="section_title"> About The Robot </h2>
      <p>
      The robot is a web-application for scheduling, routing, and tracking just-in-time food rescue.
      It was developed by volunteers of <a href="http://www.boulderfoodrescue.org">Boulder Food Rescue</a>,
      an all volunteer non-profit organization located in Boulder, Colorado. Although originally used exclusively
      by Boulder Food Rescue, the robot is now used by multiple organizations around the world, fighting malnutrition
      and food waste with love, community, and bicycles. If you'd like to start a food rescue group in your town, shoot
      an email to info at boulder food rescue dot org and we can set you up with an account on here. If you're a super-diy
      sort and want to hack on the source <a href="https://github.com/somerandomsequence/food-rescue-robot">you can do that too</a>.
      </p>

      <h2 class="section_title">Facts</h2
      <% cache("login_page_stats",:expires_in => 12.hours) do %>
        <p>Number of Cities Using the Robot: <%= number_to_human(Region.count) %></p>
        <p>Total Food Pickups To Date: <%= number_to_human(Log.where("complete").count) %> pickups</p>
        <p>Total Food Rescued: <%= number_to_human(Log.joins(:log_parts).where("complete").sum("weight")) %> lbs</p>
        <p>Number of Volunteers: <%= number_to_human(Volunteer.count) %> volunteers</p>
        <p>Number of Recipient Organizations: <%= number_to_human(Location.where("not is_donor").count) %></p>
        <p>Number of Donor Organizations: <%= number_to_human(Location.where("is_donor").count) %></p>
      <% end %>

    </div>
    <div class="sign_in_section">
      <div>
      <%= yield %>
      </div>
    </div>
    </div>
    <div class="push"></div>
    <div class="footer">
    <p>Copyright (c) <a href="http://www.boulderfoodrescue.org">Boulder Food Rescue</a> 2012</p>
    </div>
  </div>
</body>
</html>
