<!DOCTYPE html>
<html>
<head>
  <title>The Food Rescue Robot</title>
  <link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div>
        <h2 id="bfr_title">The Food Rescue Robot</h2>
        <h4>Just-in-Time Food Rescue Tracking</h4>
      </div>
    </div>

    <div class="wrap">
      <div class="info_section col-sm-7">
        <h2 class="section_title">About The Robot</h2>
        <p>
          The robot is a web-application for scheduling, routing, and tracking just-in-time food rescue.
          It was developed by volunteers of <a href="http://www.boulderfoodrescue.org">Boulder Food Rescue</a>,
          an all volunteer non-profit organization located in Boulder, Colorado. Although originally used exclusively
          by Boulder Food Rescue, the robot is now used by multiple organizations around the world, fighting malnutrition
          and food waste with love, community, and bicycles. If you'd like to start a food rescue group in your town, shoot
          an email to info at boulder food rescue dot org and we can set you up with an account on here. If you're a super-diy
          sort and want to hack on the source <a href="https://github.com/boulder-food-rescue/food-rescue-robot">you can do that too</a>.
        </p>

        <h2 class="section_title">Facts</h2>
        <% cache("login_page_stats", expires_in: 12.hours) do %>
          <ul class="unstyled">
            <li>
              <strong>Number of Cities Using the Robot:</strong>
              <span class="label label-success">
                <%= number_to_human(Region.count) %>
              </span>
            </li>
            <li>
              <strong>Total Food Pickups To Date:</strong>
              <span class="label label-success">
                <%= number_to_human(Log.complete.count) %> pickups
              </span>
            </li>
            <li>
              <strong>Total Food Rescued:</strong>
              <span class="label label-success">
                <%= number_to_human(Log.complete.joins(:log_parts).sum(:weight)) %> lbs
              </span>
            </li>
            <li>
              <strong>Number of Volunteers:</strong>
              <span class="label label-success">
                <%= number_to_human(Volunteer.count) %> volunteers
              </span>
            </li>
            <li>
              <strong>Number of Recipient Organizations:</strong>
              <span class="label label-success">
                <%= number_to_human(Location.recipients.count) %>
              </span>
            </li>
            <li>
              <strong>Number of Donor Organizations:</strong>
              <span class="label label-success">
                <%= number_to_human(Location.donors.count) %>
              </span>
            </li>
          </ul>
        <% end %>
      </div>

      <div class="sign_in_section col-sm-5">
        <div>
          <%= yield %>
        </div>
      </div>

    </div>
    <div class="push"></div>
    <div class="footer">
      <p>Copyright (c) <a href="http://www.boulderfoodrescue.org">Boulder Food Rescue</a> <%= DateTime.now.year %></p>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "google_analytics" if Rails.env.production? %>


</body>
</html>
