<!DOCTYPE html>
<html>
<head>
  <title>Veggietables by TCFJ</title>
  <link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/3.5.1/build/cssreset/cssreset-min.css">
  <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <div>
        <h2 id="TCFJ_title">Veggietables by Twin Cities Food Justice</h2>
      </div>
    </div>

    <div class="wrap">
      <div class="info_section col-sm-7">
        <h2 class="section_title">What is Veggietables?</h2>
        <p>
          Veggietables is a web-application for scheduling, routing, and tracking just-in-time food rescue.
          It was originally developed by volunteers of Boulder Food Rescue,
          an all volunteer non-profit organization located in Boulder, Colorado. This version of the app is maintained
          by <a href="https://softwareforgood.com/">Software for Good</a>, a benefit corporation based in Minneapolis, Minnesota to support <a href="https://tcfoodjustice.org/">TC Food Justice</a>.
        </p>

        <p>
          TC Food Justice rescues unsellable produce from grocery stores and farmer’s markets before it is thrown in the garbage and delivers this produce to hunger relief organizations that work with populations with barriers to accessing healthy and fresh food.

          If you'd like to start a food rescue group in your town, send
          an email to admin at tcfoodjustice dot org and we can set you up with an account on here.

          If you're interested in contributing to the code for this project, or spinning up your own instance of the app,
          you can find the open source project <a href="https://github.com/softwareforgood/food-rescue-robot">here</a>.
        </p>

        <% cache("login_page_stats",:expires_in => 12.hours) do %>
        <% end %>
      </div>

      <div class="sign_in_section col-sm-5">
        <div>
          <%= yield %>
        </div>
      </div>

    </div>
    <div class="push"></div>
    <div class="footer">
      <p>Copyright (c) <a href="http://www.tcfoodjustice.org">Twin Cities Food Justice</a> <%= DateTime.now.year %></p>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "google_analytics" if Rails.env.production? %>


</body>
</html>
